In [1]:
from path import Path
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(Path('2018MHDataSAMSHA.csv'))
df.head()

,YEAR,AGE,EDUC,ETHNIC,RACE,GENDER,SPHSERVICE,CMPSERVICE,OPISERVICE,RTCSERVICE,...,ODDFLG,PDDFLG,PERSONFLG,SCHIZOFLG,ALCSUBFLG,OTHERDISFLG,STATEFIP,DIVISION,REGION,CASEID
0,2018,7,-9,3,6,2,2,1,1,2,...,0,0,0,0,0,0,1,6,3,20180000001
1,2018,13,-9,3,3,1,2,1,1,2,...,0,0,0,0,0,0,1,6,3,20180000002
2,2018,6,4,4,6,1,1,1,2,2,...,0,0,0,1,0,0,1,6,3,20180000003
3,2018,13,-9,4,2,2,1,2,2,2,...,0,0,0,0,0,0,1,6,3,20180000004
4,2018,14,5,4,3,1,1,1,2,2,...,0,0,0,1,0,0,1,6,3,20180000005

In [3]:
# Segment the features from the target
y = df["SCHIZOFLG"]
X = df.drop(columns="SCHIZOFLG")

In [4]:
# Use the train_test_split function to create training and testing subsets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(786431, 39)

In [5]:
# Instantiate a linear SVM model
from sklearn.svm import SVC
model = SVC(kernel='linear')

In [ ]:
# Fit the data
model.fit(X_train, y_train)

In [ ]:
# Make predictions using the test data
y_pred = model.predict(X_test)
results = pd.DataFrame({
    "Prediction": y_pred, 
    "Actual": y_test
}).reset_index(drop=True)
results.head()

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))