In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
nmhss_df = pd.read_csv(Path('resources/nmhss-puf-2019-Edited.csv'))
nmhss_df

,CASEID,MHINTAKE,MHDIAGEVAL,MHREFERRAL,SMISEDSUD,TREATMT,ADMINSERV,SETTINGIP,SETTINGRC,SETTINGDTPH,...,LICENSED,LICENPH,LICENSEDFCS,LICENHOS,JCAHO,CARF,COA,CMS,OTHSTATE,LST
0,201900001,1,1,1,1,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,AK
1,201900002,1,1,1,1,1,1,0,0,0,...,0,0,0,0,1,0,0,0,0,AK
2,201900003,1,1,1,1,1,0,0,0,0,...,1,1,0,0,1,0,0,1,0,AK
3,201900004,1,1,1,1,1,0,0,0,0,...,1,1,0,0,1,0,0,1,0,AK
4,201900005,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,1,1,0,AK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12467,201912468,1,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ZZ
12468,201912469,1,1,1,1,1,1,0,0,0,...,0,0,0,0,1,0,0,1,0,ZZ
12469,201912470,1,1,1,1,1,1,0,0,0,...,1,1,0,0,1,1,0,0,0,ZZ
12470,201912471,1,1,1,1,0,0,1,0,0,...,0,0,0,0,1,0,0,1,0,ZZ
12471,201912472,1,1,1,1,1,1,0,0,0,...,1,1,0,0,1,0,0,0,0,ZZ

In [3]:
nmhss_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12472 entries, 0 to 12471
Data columns (total 140 columns):
 #    Column            Dtype
---   ------            -----
 0    CASEID            int64
 1    MHINTAKE          int64
 2    MHDIAGEVAL        int64
 3    MHREFERRAL        int64
 4    SMISEDSUD         int64
 5    TREATMT           int64
 6    ADMINSERV         int64
 7    SETTINGIP         int64
 8    SETTINGRC         int64
 9    SETTINGDTPH       int64
 10   SETTINGOP         int64
 11   FACILITYTYPE      int64
 12   FOCUS             int64
 13   OWNERSHP          int64
 14   PUBLICAGENCY      int64
 15   TREATPSYCHOTHRPY  int64
 16   TREATFAMTHRPY     int64
 17   TREATGRPTHRPY     int64
 18   TREATCOGTHRPY     int64
 19   TREATDIALTHRPY    int64
 20   TREATBEHAVMOD     int64
 21   TREATDUALMHSA     int64
 22   TREATTRAUMATHRPY  int64
 23   TREATACTVTYTHRPY  int64
 24   TREATELECTRO      int64
 25   TREATTELEMEDINCE  int64
 26   TREATPSYCHOMED    int64
 27   TREATOTH          int64
 28   NOTREAT           int64
 29   ASSERTCOMM        int64
 30   MHINTCASEMGMT     int64
 31   MHCASEMGMT        int64
 32   MHCOURTORDERED    int64
 33   MHCHRONIC         int64
 34   ILLNESSMGMT       int64
 35   PRIMARYCARE       int64
 36   DIETEXERCOUNSEL   int64
 37   FAMPSYCHED        int64
 38   MHEDUCATION       int64
 39   MHHOUSING         int64
 40   SUPPHOUSING       int64
 41   MHPSYCHREHAB      int64
 42   MHVOCREHAB        int64
 43   SUPPEMPLOY        int64
 44   FOSTERCARE        int64
 45   MHLEGAL           int64
 46   MHEMGCY           int64
 47   MHSUICIDE         int64
 48   MHCONSUMER        int64
 49   MHTOBACCOUSE      int64
 50   MHTOBACCOCESS     int64
 51   MHNICOTINEREP     int64
 52   SMOKINGCESSATION  int64
 53   MHOTH             int64
 54   MHNOSVCS          int64
 55   CHILDAD           int64
 56   ADOLES            int64
 57   YOUNGADULTS       int64
 58   ADULT             int64
 59   SENIORS           int64
 60   SED               int64
 61   TAYOUNGADULTS     int64
 62   SPMI              int64
 63   SRVC63            int64
 64   ALZHDEMENTIA      int64
 65   SRVC31            int64
 66   SPECGRPEATING     int64
 67   POSTTRAUM         int64
 68   SRVC116           int64
 69   TRAUMATICBRAIN    int64
 70   SRVC113           int64
 71   SRVC114           int64
 72   SRVC115           int64
 73   SRVC62            int64
 74   SRVC61            int64
 75   SRVC32            int64
 76   SRVC35            int64
 77   NOSPECGRP         int64
 78   CRISISTEAM2       int64
 79   SIGNLANG          int64
 80   LANG              int64
 81   LANGPROV          int64
 82   LANG16            int64
 83   LANG_B            int64
 84   LANG1             int64
 85   LANG2             int64
 86   LANG3             int64
 87   LANG21            int64
 88   LANG4             int64
 89   LANG5             int64
 90   LANG6             int64
 91   LANG7             int64
 92   LANG8             int64
 93   LANG24            int64
 94   LANG9             int64
 95   LANG10            int64
 96   LANG22            int64
 97   LANG25            int64
 98   LANG26            int64
 99   LANG11            int64
 100  LANG19            int64
 101  LANG23            int64
 102  LANG12            int64
 103  LANG13            int64
 104  LANG14            int64
 105  LANG15            int64
 106  LANG20            int64
 107  LANG17            int64
 108  LANG18            int64
 109  SMOKINGPOLICY     int64
 110  FEESCALE          int64
 111  PAYASST           int64
 112  REVCHK1           int64
 113  REVCHK2           int64
 114  REVCHK8           int64
 115  REVCHK5           int64
 116  REVCHK10          int64
 117  FUNDSMHA          int64
 118  FUNDSTATEWELFARE  int64
 119  FUNDSTATEJUV      int64
 120  FUNDSTATEEDUC     int64
 121  FUNDOTHSTATE      int64
 122  FUNDLOCALGOV      int64
 123  FUNDCSBG          int64
 124  FUNDCMHG          int64
 125  REVCHK15          int64
 126  FUNDVA            int64
 127  REVCHK17          int64
 128  REVCHK2A          int64
 129  LICENMH           int64
 130  LICENSED          int64
 131  LICENPH           int64
 132  LICENSEDFCS       int64
 133  LICENHOS          int64
 134  JCAHO             int64
 135  CARF              int64
 136  COA               int64
 137  CMS               int64
 138  OTHSTATE          int64
 139  LST               object
dtypes: int64(139), object(1)
memory usage: 13.3+ MB

In [4]:
lst_list = nmhss_df.LST.unique()
lst_list

array(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
       'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
       'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
       'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI', 'SC', 'SD', 'TN',
       'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY', 'ZZ'], dtype=object)

In [5]:
nmhss_df.describe()

,CASEID,MHINTAKE,MHDIAGEVAL,MHREFERRAL,SMISEDSUD,TREATMT,ADMINSERV,SETTINGIP,SETTINGRC,SETTINGDTPH,...,LICENMH,LICENSED,LICENPH,LICENSEDFCS,LICENHOS,JCAHO,CARF,COA,CMS,OTHSTATE
count,1.247200e+04,12472.00000,12472.000000,12472.000000,12472.000000,12472.000000,12472.000000,12472.000000,12472.000000,12472.000000,...,12472.000000,12472.000000,12472.000000,12472.000000,12472.000000,12472.000000,12472.000000,12472.000000,12472.000000,12472.000000
mean,2.019062e+08,0.91092,0.916453,0.845654,0.708226,0.563262,0.568153,0.151700,0.158675,0.152421,...,0.704298,0.334589,0.486450,0.202854,0.135504,0.341645,0.238374,0.096697,0.503929,0.044820
std,3.600501e+03,0.28487,0.276719,0.361294,0.454597,0.496002,0.495353,0.358744,0.365388,0.359443,...,0.460225,0.475590,0.503353,0.406504,0.347390,0.477985,0.430226,0.301466,0.503520,0.206918
min,2.019000e+08,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
25%,2.019031e+08,1.00000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.019062e+08,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,2.019094e+08,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000
max,2.019125e+08,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
adult_rep_mi = 'resources/kff_2018-19_adults_reporting_MI_yr.csv'
adult_rep_mi_df = pd.read_csv(adult_rep_mi)
adult_rep_mi_df.head()

,Location,Adults Reporting Any Mental Illness in the Past Year,Adults Reporting Serious Mental Illness in the Past Year
0,United States,0.199,0.049
1,Alabama,0.213,0.056
2,Alaska,0.215,0.059
3,Arizona,0.201,0.056
4,Arkansas,0.203,0.055

In [7]:
adult_rep_mi_df.dtypes

Location                                                     object
Adults Reporting Any Mental Illness in the Past Year        float64
Adults Reporting Serious Mental Illness in the Past Year    float64
dtype: object

In [8]:
indicators_cdc_data = 'resources/Indicators_of_Anxiety_or_Depression_Based_on_Reported_Frequency_of_Symptoms_During_Last_7_Days.csv'
cdc_indicators_df = pd.read_csv(indicators_cdc_data)
cdc_indicators_df.head()

,Indicator,Group,State,Subgroup,Phase,Time Period,Time Period Label,Time Period Start Date,Time Period End Date,Value,Low CI,High CI,Confidence Interval,Quartile Range
0,Symptoms of Depressive Disorder,National Estimate,United States,United States,1,1,Apr 23 - May 5,04/23/2020 12:00:00 AM,05/05/2020 12:00:00 AM,23.5,22.7,24.3,22.7 - 24.3,NaN
1,Symptoms of Depressive Disorder,By Age,United States,18 - 29 years,1,1,Apr 23 - May 5,04/23/2020 12:00:00 AM,05/05/2020 12:00:00 AM,32.7,30.2,35.2,30.2 - 35.2,NaN
2,Symptoms of Depressive Disorder,By Age,United States,30 - 39 years,1,1,Apr 23 - May 5,04/23/2020 12:00:00 AM,05/05/2020 12:00:00 AM,25.7,24.1,27.3,24.1 - 27.3,NaN
3,Symptoms of Depressive Disorder,By Age,United States,40 - 49 years,1,1,Apr 23 - May 5,04/23/2020 12:00:00 AM,05/05/2020 12:00:00 AM,24.8,23.3,26.2,23.3 - 26.2,NaN
4,Symptoms of Depressive Disorder,By Age,United States,50 - 59 years,1,1,Apr 23 - May 5,04/23/2020 12:00:00 AM,05/05/2020 12:00:00 AM,23.2,21.5,25.0,21.5 - 25.0,NaN

In [9]:
cdc_indicators_df.dtypes

Indicator                  object
Group                      object
State                      object
Subgroup                   object
Phase                      object
Time Period                 int64
Time Period Label          object
Time Period Start Date     object
Time Period End Date       object
Value                     float64
Low CI                    float64
High CI                   float64
Confidence Interval        object
Quartile Range             object
dtype: object

In [10]:
df_2 = pd.read_csv(Path('resources/ACSST1Y2019.S1901_data_with_overlays_2021-04-16T050752.csv'))
df_2.head()

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C01_002E,S1901_C01_002M,S1901_C01_003E,S1901_C01_003M,S1901_C01_004E,S1901_C01_004M,...,S1901_C04_012E,S1901_C04_012M,S1901_C04_013E,S1901_C04_013M,S1901_C04_014E,S1901_C04_014M,S1901_C04_015E,S1901_C04_015M,S1901_C04_016E,S1901_C04_016M
0,id,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000",Margin of Error!!Households!!Total!!Less than ...,"Estimate!!Households!!Total!!$10,000 to $14,999","Margin of Error!!Households!!Total!!$10,000 to...","Estimate!!Households!!Total!!$15,000 to $24,999","Margin of Error!!Households!!Total!!$15,000 to...",...,Estimate!!Nonfamily households!!Median income ...,Margin of Error!!Nonfamily households!!Median ...,Estimate!!Nonfamily households!!Mean income (d...,Margin of Error!!Nonfamily households!!Mean in...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...
1,0500000US01003,"Baldwin County, Alabama",82325,3231,4.9,1.6,3.9,1.4,9.4,2.0,...,37494,5940,48871,5729,(X),(X),(X),(X),30.1,(X)
2,0500000US01015,"Calhoun County, Alabama",44636,2010,9.6,3.1,7.3,2.4,8.4,2.0,...,26143,3350,32609,4229,(X),(X),(X),(X),35.7,(X)
3,0500000US01043,"Cullman County, Alabama",32090,1233,4.4,1.5,5.4,2.2,11.0,2.8,...,22464,3132,28508,2622,(X),(X),(X),(X),37.1,(X)
4,0500000US01049,"DeKalb County, Alabama",24880,1347,7.2,2.8,8.4,3.8,15.6,3.5,...,21213,4028,36416,10258,(X),(X),(X),(X),36.0,(X)

In [11]:
df_2.drop(df_2.head(1).index, inplace=True)
df_2.head()

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C01_002E,S1901_C01_002M,S1901_C01_003E,S1901_C01_003M,S1901_C01_004E,S1901_C01_004M,...,S1901_C04_012E,S1901_C04_012M,S1901_C04_013E,S1901_C04_013M,S1901_C04_014E,S1901_C04_014M,S1901_C04_015E,S1901_C04_015M,S1901_C04_016E,S1901_C04_016M
1,0500000US01003,"Baldwin County, Alabama",82325,3231,4.9,1.6,3.9,1.4,9.4,2.0,...,37494,5940,48871,5729,(X),(X),(X),(X),30.1,(X)
2,0500000US01015,"Calhoun County, Alabama",44636,2010,9.6,3.1,7.3,2.4,8.4,2.0,...,26143,3350,32609,4229,(X),(X),(X),(X),35.7,(X)
3,0500000US01043,"Cullman County, Alabama",32090,1233,4.4,1.5,5.4,2.2,11.0,2.8,...,22464,3132,28508,2622,(X),(X),(X),(X),37.1,(X)
4,0500000US01049,"DeKalb County, Alabama",24880,1347,7.2,2.8,8.4,3.8,15.6,3.5,...,21213,4028,36416,10258,(X),(X),(X),(X),36.0,(X)
5,0500000US01051,"Elmore County, Alabama",30712,1330,2.9,1.4,1.9,1.3,13.2,4.1,...,34964,10694,50153,12317,(X),(X),(X),(X),39.1,(X)

In [12]:
df_2.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 840 entries, 1 to 840
Data columns (total 130 columns):
 #    Column          Dtype
---   ------          -----
 0    GEO_ID          object
 1    NAME            object
 2    S1901_C01_001E  object
 3    S1901_C01_001M  object
 4    S1901_C01_002E  object
 5    S1901_C01_002M  object
 6    S1901_C01_003E  object
 7    S1901_C01_003M  object
 8    S1901_C01_004E  object
 9    S1901_C01_004M  object
 10   S1901_C01_005E  object
 11   S1901_C01_005M  object
 12   S1901_C01_006E  object
 13   S1901_C01_006M  object
 14   S1901_C01_007E  object
 15   S1901_C01_007M  object
 16   S1901_C01_008E  object
 17   S1901_C01_008M  object
 18   S1901_C01_009E  object
 19   S1901_C01_009M  object
 20   S1901_C01_010E  object
 21   S1901_C01_010M  object
 22   S1901_C01_011E  object
 23   S1901_C01_011M  object
 24   S1901_C01_012E  object
 25   S1901_C01_012M  object
 26   S1901_C01_013E  object
 27   S1901_C01_013M  object
 28   S1901_C01_014E  object
 29   S1901_C01_014M  object
 30   S1901_C01_015E  object
 31   S1901_C01_015M  object
 32   S1901_C01_016E  object
 33   S1901_C01_016M  object
 34   S1901_C02_001E  object
 35   S1901_C02_001M  object
 36   S1901_C02_002E  object
 37   S1901_C02_002M  object
 38   S1901_C02_003E  object
 39   S1901_C02_003M  object
 40   S1901_C02_004E  object
 41   S1901_C02_004M  object
 42   S1901_C02_005E  object
 43   S1901_C02_005M  object
 44   S1901_C02_006E  object
 45   S1901_C02_006M  object
 46   S1901_C02_007E  object
 47   S1901_C02_007M  object
 48   S1901_C02_008E  object
 49   S1901_C02_008M  object
 50   S1901_C02_009E  object
 51   S1901_C02_009M  object
 52   S1901_C02_010E  object
 53   S1901_C02_010M  object
 54   S1901_C02_011E  object
 55   S1901_C02_011M  object
 56   S1901_C02_012E  object
 57   S1901_C02_012M  object
 58   S1901_C02_013E  object
 59   S1901_C02_013M  object
 60   S1901_C02_014E  object
 61   S1901_C02_014M  object
 62   S1901_C02_015E  object
 63   S1901_C02_015M  object
 64   S1901_C02_016E  object
 65   S1901_C02_016M  object
 66   S1901_C03_001E  object
 67   S1901_C03_001M  object
 68   S1901_C03_002E  object
 69   S1901_C03_002M  object
 70   S1901_C03_003E  object
 71   S1901_C03_003M  object
 72   S1901_C03_004E  object
 73   S1901_C03_004M  object
 74   S1901_C03_005E  object
 75   S1901_C03_005M  object
 76   S1901_C03_006E  object
 77   S1901_C03_006M  object
 78   S1901_C03_007E  object
 79   S1901_C03_007M  object
 80   S1901_C03_008E  object
 81   S1901_C03_008M  object
 82   S1901_C03_009E  object
 83   S1901_C03_009M  object
 84   S1901_C03_010E  object
 85   S1901_C03_010M  object
 86   S1901_C03_011E  object
 87   S1901_C03_011M  object
 88   S1901_C03_012E  object
 89   S1901_C03_012M  object
 90   S1901_C03_013E  object
 91   S1901_C03_013M  object
 92   S1901_C03_014E  object
 93   S1901_C03_014M  object
 94   S1901_C03_015E  object
 95   S1901_C03_015M  object
 96   S1901_C03_016E  object
 97   S1901_C03_016M  object
 98   S1901_C04_001E  object
 99   S1901_C04_001M  object
 100  S1901_C04_002E  object
 101  S1901_C04_002M  object
 102  S1901_C04_003E  object
 103  S1901_C04_003M  object
 104  S1901_C04_004E  object
 105  S1901_C04_004M  object
 106  S1901_C04_005E  object
 107  S1901_C04_005M  object
 108  S1901_C04_006E  object
 109  S1901_C04_006M  object
 110  S1901_C04_007E  object
 111  S1901_C04_007M  object
 112  S1901_C04_008E  object
 113  S1901_C04_008M  object
 114  S1901_C04_009E  object
 115  S1901_C04_009M  object
 116  S1901_C04_010E  object
 117  S1901_C04_010M  object
 118  S1901_C04_011E  object
 119  S1901_C04_011M  object
 120  S1901_C04_012E  object
 121  S1901_C04_012M  object
 122  S1901_C04_013E  object
 123  S1901_C04_013M  object
 124  S1901_C04_014E  object
 125  S1901_C04_014M  object
 126  S1901_C04_015E  object
 127  S1901_C04_015M  object
 128  S1901_C04_016E  object
 129  S1901_C04_016M  object
dtypes: object(130)
memory usage: 859.7+ KB

In [13]:
df_2.describe()

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C01_002E,S1901_C01_002M,S1901_C01_003E,S1901_C01_003M,S1901_C01_004E,S1901_C01_004M,...,S1901_C04_012E,S1901_C04_012M,S1901_C04_013E,S1901_C04_013M,S1901_C04_014E,S1901_C04_014M,S1901_C04_015E,S1901_C04_015M,S1901_C04_016E,S1901_C04_016M
count,840,840,840,840,840,840,840,840,840,840,...,840,840,840,840,840,840,840,840,840,840
unique,840,840,833,714,134,45,100,38,141,50,...,833,784,829,792,1,1,1,1,278,1
top,0500000US12015,"Martin County, Florida",32010,1761,4.4,1.2,3.4,1.1,9.4,1.9,...,36250,3801,50374,4910,(X),(X),(X),(X),32.1,(X)
freq,1,1,2,4,21,55,32,53,17,48,...,3,3,2,2,840,840,840,840,10,840

In [14]:
df_2["NAME"].value_counts()

Martin County, Florida          1
St. Clair County, Michigan      1
Multnomah County, Oregon        1
St. Louis County, Missouri      1
Lake County, Ohio               1
                               ..
Lapeer County, Michigan         1
Bronx County, New York          1
Luzerne County, Pennsylvania    1
Bowie County, Texas             1
Brazoria County, Texas          1
Name: NAME, Length: 840, dtype: int64

In [15]:
df_2["NAME"].str.split(",")

1                   [Baldwin County,  Alabama]
2                   [Calhoun County,  Alabama]
3                   [Cullman County,  Alabama]
4                    [DeKalb County,  Alabama]
5                    [Elmore County,  Alabama]
                        ...
836            [Ponce Municipio,  Puerto Rico]
837         [San Juan Municipio,  Puerto Rico]
838         [Toa Alta Municipio,  Puerto Rico]
839         [Toa Baja Municipio,  Puerto Rico]
840    [Trujillo Alto Municipio,  Puerto Rico]
Name: NAME, Length: 840, dtype: object

In [16]:
# new data frame with split value columns
new = df_2["NAME"].str.split(",", n = 1, expand = True)
  
# making separate first name column from new data frame
df_2["CITY"]= new[0]
  
# making separate last name column from new data frame
df_2["STATE"]= new[1]
  
# Dropping old Name columns
df_2.drop(columns =["NAME"], inplace = True)
  
# df display
df_2

,GEO_ID,S1901_C01_001E,S1901_C01_001M,S1901_C01_002E,S1901_C01_002M,S1901_C01_003E,S1901_C01_003M,S1901_C01_004E,S1901_C01_004M,S1901_C01_005E,...,S1901_C04_013E,S1901_C04_013M,S1901_C04_014E,S1901_C04_014M,S1901_C04_015E,S1901_C04_015M,S1901_C04_016E,S1901_C04_016M,CITY,STATE
1,0500000US01003,82325,3231,4.9,1.6,3.9,1.4,9.4,2.0,10.4,...,48871,5729,(X),(X),(X),(X),30.1,(X),Baldwin County,Alabama
2,0500000US01015,44636,2010,9.6,3.1,7.3,2.4,8.4,2.0,13.1,...,32609,4229,(X),(X),(X),(X),35.7,(X),Calhoun County,Alabama
3,0500000US01043,32090,1233,4.4,1.5,5.4,2.2,11.0,2.8,13.2,...,28508,2622,(X),(X),(X),(X),37.1,(X),Cullman County,Alabama
4,0500000US01049,24880,1347,7.2,2.8,8.4,3.8,15.6,3.5,7.6,...,36416,10258,(X),(X),(X),(X),36.0,(X),DeKalb County,Alabama
5,0500000US01051,30712,1330,2.9,1.4,1.9,1.3,13.2,4.1,10.8,...,50153,12317,(X),(X),(X),(X),39.1,(X),Elmore County,Alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,0500000US72113,52837,1952,36.3,2.5,13.5,2.1,16.0,2.5,9.9,...,18260,2810,(X),(X),(X),(X),34.6,(X),Ponce Municipio,Puerto Rico
837,0500000US72127,138800,3232,29.1,1.6,8.8,1.3,14.8,1.5,10.2,...,27875,2579,(X),(X),(X),(X),34.6,(X),San Juan Municipio,Puerto Rico
838,0500000US72135,22650,1148,20.1,4.5,8.2,3.1,16.8,4.6,12.8,...,21261,7449,(X),(X),(X),(X),67.3,(X),Toa Alta Municipio,Puerto Rico
839,0500000US72137,28291,1322,22.3,4.0,10.1,2.9,19.9,3.4,13.8,...,22178,2792,(X),(X),(X),(X),21.5,(X),Toa Baja Municipio,Puerto Rico
840,0500000US72139,23263,1267,16.3,4.5,9.5,3.3,16.1,4.1,10.2,...,N,N,(X),(X),(X),(X),25.2,(X),Trujillo Alto Municipio,Puerto Rico

In [ ]:
df_3 = pd.read_csv(Path('resources/name-abbr.csv'))
df_3.head()

In [ ]:
df_row_reindex = pd.concat([df_2, df_3], ignore_index=True)
df_row_reindex