In [2]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [4]:
df = pd.read_csv(Path('resources/nmhss-puf-2019-csv.csv'))
df.head()

,CASEID,LST,MHINTAKE,MHDIAGEVAL,MHREFERRAL,SMISEDSUD,TREATMT,ADMINSERV,SETTINGIP,SETTINGRC,...,LICENMH,LICENSED,LICENPH,LICENSEDFCS,LICENHOS,JCAHO,CARF,COA,CMS,OTHSTATE
0,201900001,AK,1,1,1,1,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,201900002,AK,1,1,1,1,1,1,0,0,...,0,0,0,0,0,1,0,0,0,0
2,201900003,AK,1,1,1,1,1,0,0,0,...,1,1,1,0,0,1,0,0,1,0
3,201900004,AK,1,1,1,1,1,0,0,0,...,1,1,1,0,0,1,0,0,1,0
4,201900005,AK,1,1,1,1,1,1,0,0,...,1,0,0,0,0,0,0,1,1,0

In [6]:
df_2 = pd.read_csv(Path('resources/ACSST1Y2019.S1901_data_with_overlays_2021-04-16T050752.csv'))
df_2.head()

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C01_002E,S1901_C01_002M,S1901_C01_003E,S1901_C01_003M,S1901_C01_004E,S1901_C01_004M,...,S1901_C04_012E,S1901_C04_012M,S1901_C04_013E,S1901_C04_013M,S1901_C04_014E,S1901_C04_014M,S1901_C04_015E,S1901_C04_015M,S1901_C04_016E,S1901_C04_016M
0,id,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000",Margin of Error!!Households!!Total!!Less than ...,"Estimate!!Households!!Total!!$10,000 to $14,999","Margin of Error!!Households!!Total!!$10,000 to...","Estimate!!Households!!Total!!$15,000 to $24,999","Margin of Error!!Households!!Total!!$15,000 to...",...,Estimate!!Nonfamily households!!Median income ...,Margin of Error!!Nonfamily households!!Median ...,Estimate!!Nonfamily households!!Mean income (d...,Margin of Error!!Nonfamily households!!Mean in...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...
1,0500000US01003,"Baldwin County, Alabama",82325,3231,4.9,1.6,3.9,1.4,9.4,2.0,...,37494,5940,48871,5729,(X),(X),(X),(X),30.1,(X)
2,0500000US01015,"Calhoun County, Alabama",44636,2010,9.6,3.1,7.3,2.4,8.4,2.0,...,26143,3350,32609,4229,(X),(X),(X),(X),35.7,(X)
3,0500000US01043,"Cullman County, Alabama",32090,1233,4.4,1.5,5.4,2.2,11.0,2.8,...,22464,3132,28508,2622,(X),(X),(X),(X),37.1,(X)
4,0500000US01049,"DeKalb County, Alabama",24880,1347,7.2,2.8,8.4,3.8,15.6,3.5,...,21213,4028,36416,10258,(X),(X),(X),(X),36.0,(X)

In [7]:
df_2.drop(df.head(1).index, inplace=True)

In [8]:
df_2.head()

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C01_002E,S1901_C01_002M,S1901_C01_003E,S1901_C01_003M,S1901_C01_004E,S1901_C01_004M,...,S1901_C04_012E,S1901_C04_012M,S1901_C04_013E,S1901_C04_013M,S1901_C04_014E,S1901_C04_014M,S1901_C04_015E,S1901_C04_015M,S1901_C04_016E,S1901_C04_016M
1,0500000US01003,"Baldwin County, Alabama",82325,3231,4.9,1.6,3.9,1.4,9.4,2.0,...,37494,5940,48871,5729,(X),(X),(X),(X),30.1,(X)
2,0500000US01015,"Calhoun County, Alabama",44636,2010,9.6,3.1,7.3,2.4,8.4,2.0,...,26143,3350,32609,4229,(X),(X),(X),(X),35.7,(X)
3,0500000US01043,"Cullman County, Alabama",32090,1233,4.4,1.5,5.4,2.2,11.0,2.8,...,22464,3132,28508,2622,(X),(X),(X),(X),37.1,(X)
4,0500000US01049,"DeKalb County, Alabama",24880,1347,7.2,2.8,8.4,3.8,15.6,3.5,...,21213,4028,36416,10258,(X),(X),(X),(X),36.0,(X)
5,0500000US01051,"Elmore County, Alabama",30712,1330,2.9,1.4,1.9,1.3,13.2,4.1,...,34964,10694,50153,12317,(X),(X),(X),(X),39.1,(X)

In [9]:
df_2.count()

GEO_ID            840
NAME              840
S1901_C01_001E    840
S1901_C01_001M    840
S1901_C01_002E    840
                 ...
S1901_C04_014M    840
S1901_C04_015E    840
S1901_C04_015M    840
S1901_C04_016E    840
S1901_C04_016M    840
Length: 130, dtype: int64

In [10]:
df_2["NAME"].value_counts()

Summit County, Ohio               1
Kanawha County, West Virginia     1
Cook County, Illinois             1
Leon County, Florida              1
Warren County, New Jersey         1
                                 ..
Sarpy County, Nebraska            1
Lancaster County, Nebraska        1
Manitowoc County, Wisconsin       1
Cache County, Utah                1
Anchorage Municipality, Alaska    1
Name: NAME, Length: 840, dtype: int64

In [11]:
df_2["NAME"].str.split(",")

1                   [Baldwin County,  Alabama]
2                   [Calhoun County,  Alabama]
3                   [Cullman County,  Alabama]
4                    [DeKalb County,  Alabama]
5                    [Elmore County,  Alabama]
                        ...
836            [Ponce Municipio,  Puerto Rico]
837         [San Juan Municipio,  Puerto Rico]
838         [Toa Alta Municipio,  Puerto Rico]
839         [Toa Baja Municipio,  Puerto Rico]
840    [Trujillo Alto Municipio,  Puerto Rico]
Name: NAME, Length: 840, dtype: object

In [12]:
# new data frame with split value columns
new = df_2["NAME"].str.split(",", n = 1, expand = True)
  
# making separate first name column from new data frame
df_2["CITY"]= new[0]
  
# making separate last name column from new data frame
df_2["STATE"]= new[1]
  
# Dropping old Name columns
df_2.drop(columns =["NAME"], inplace = True)
  
# df display
df_2

,GEO_ID,S1901_C01_001E,S1901_C01_001M,S1901_C01_002E,S1901_C01_002M,S1901_C01_003E,S1901_C01_003M,S1901_C01_004E,S1901_C01_004M,S1901_C01_005E,...,S1901_C04_013E,S1901_C04_013M,S1901_C04_014E,S1901_C04_014M,S1901_C04_015E,S1901_C04_015M,S1901_C04_016E,S1901_C04_016M,CITY,STATE
1,0500000US01003,82325,3231,4.9,1.6,3.9,1.4,9.4,2.0,10.4,...,48871,5729,(X),(X),(X),(X),30.1,(X),Baldwin County,Alabama
2,0500000US01015,44636,2010,9.6,3.1,7.3,2.4,8.4,2.0,13.1,...,32609,4229,(X),(X),(X),(X),35.7,(X),Calhoun County,Alabama
3,0500000US01043,32090,1233,4.4,1.5,5.4,2.2,11.0,2.8,13.2,...,28508,2622,(X),(X),(X),(X),37.1,(X),Cullman County,Alabama
4,0500000US01049,24880,1347,7.2,2.8,8.4,3.8,15.6,3.5,7.6,...,36416,10258,(X),(X),(X),(X),36.0,(X),DeKalb County,Alabama
5,0500000US01051,30712,1330,2.9,1.4,1.9,1.3,13.2,4.1,10.8,...,50153,12317,(X),(X),(X),(X),39.1,(X),Elmore County,Alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,0500000US72113,52837,1952,36.3,2.5,13.5,2.1,16.0,2.5,9.9,...,18260,2810,(X),(X),(X),(X),34.6,(X),Ponce Municipio,Puerto Rico
837,0500000US72127,138800,3232,29.1,1.6,8.8,1.3,14.8,1.5,10.2,...,27875,2579,(X),(X),(X),(X),34.6,(X),San Juan Municipio,Puerto Rico
838,0500000US72135,22650,1148,20.1,4.5,8.2,3.1,16.8,4.6,12.8,...,21261,7449,(X),(X),(X),(X),67.3,(X),Toa Alta Municipio,Puerto Rico
839,0500000US72137,28291,1322,22.3,4.0,10.1,2.9,19.9,3.4,13.8,...,22178,2792,(X),(X),(X),(X),21.5,(X),Toa Baja Municipio,Puerto Rico
840,0500000US72139,23263,1267,16.3,4.5,9.5,3.3,16.1,4.1,10.2,...,N,N,(X),(X),(X),(X),25.2,(X),Trujillo Alto Municipio,Puerto Rico

In [10]:
df_3 = pd.read_csv(Path('./name-abbr.csv'))
df_3.head()

        STATE Abbr
0     Alabama   AL
1      Alaska   AK
2     Arizona   AZ
3    Arkansas   AR
4  California   CA

In [13]:
df_row_reindex = pd.concat([df_2, df_3], ignore_index=True)
df_row_reindex

,GEO_ID,S1901_C01_001E,S1901_C01_001M,S1901_C01_002E,S1901_C01_002M,S1901_C01_003E,S1901_C01_003M,S1901_C01_004E,S1901_C01_004M,S1901_C01_005E,...,S1901_C04_013M,S1901_C04_014E,S1901_C04_014M,S1901_C04_015E,S1901_C04_015M,S1901_C04_016E,S1901_C04_016M,CITY,STATE,Abbr
0,0500000US01003,82325,3231,4.9,1.6,3.9,1.4,9.4,2.0,10.4,...,5729,(X),(X),(X),(X),30.1,(X),Baldwin County,Alabama,NaN
1,0500000US01015,44636,2010,9.6,3.1,7.3,2.4,8.4,2.0,13.1,...,4229,(X),(X),(X),(X),35.7,(X),Calhoun County,Alabama,NaN
2,0500000US01043,32090,1233,4.4,1.5,5.4,2.2,11.0,2.8,13.2,...,2622,(X),(X),(X),(X),37.1,(X),Cullman County,Alabama,NaN
3,0500000US01049,24880,1347,7.2,2.8,8.4,3.8,15.6,3.5,7.6,...,10258,(X),(X),(X),(X),36.0,(X),DeKalb County,Alabama,NaN
4,0500000US01051,30712,1330,2.9,1.4,1.9,1.3,13.2,4.1,10.8,...,12317,(X),(X),(X),(X),39.1,(X),Elmore County,Alabama,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Virginia,VA
887,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Washington,WA
888,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,West Virginia,WV
889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wisconsin,WI
890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wyoming,WY