In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv(Path('2018MHDataSAMSHA.csv'))
df.head()

,YEAR,AGE,EDUC,ETHNIC,RACE,GENDER,SPHSERVICE,CMPSERVICE,OPISERVICE,RTCSERVICE,...,ODDFLG,PDDFLG,PERSONFLG,SCHIZOFLG,ALCSUBFLG,OTHERDISFLG,STATEFIP,DIVISION,REGION,CASEID
0,2018,7,-9,3,6,2,2,1,1,2,...,0,0,0,0,0,0,1,6,3,20180000001
1,2018,13,-9,3,3,1,2,1,1,2,...,0,0,0,0,0,0,1,6,3,20180000002
2,2018,6,4,4,6,1,1,1,2,2,...,0,0,0,1,0,0,1,6,3,20180000003
3,2018,13,-9,4,2,2,1,2,2,2,...,0,0,0,0,0,0,1,6,3,20180000004
4,2018,14,5,4,3,1,1,1,2,2,...,0,0,0,1,0,0,1,6,3,20180000005

In [6]:
y = df["SCHIZOFLG"]
X = df.drop(columns="SCHIZOFLG")

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(786431, 39)

In [8]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)

In [9]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=200, random_state=1)

In [10]:
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            0       1
1            0       0
2            0       0
3            0       0
4            0       0
5            0       0
6            0       0
7            0       0
8            0       0
9            0       0
10           0       0
11           0       0
12           0       0
13           0       0
14           0       0
15           0       0
16           0       0
17           0       0
18           0       1
19           0       0

In [11]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.8314399719238281