In [7]:
from path import Path
import numpy as np
import pandas as pd

In [8]:
# Read in the data
data = Path('Resources/cleaned_data.csv')
mental_health_df = pd.read_csv(data)
mental_health_df.head()

,I am currently employed at least part-time,I identify as having a mental illness,Education,I have my own computer separate from a smart phone,I have been hospitalized before for my mental illness,How many days were you hospitalized for your mental illness,I am legally disabled,I have my regular access to the internet,I live with my parents,I have a gap in my resume,...,Obsessive thinking,Mood swings,Panic attacks,Compulsive behavior,Tiredness,Age,Gender,Household Income,Region,Device Type
0,0,0,High School or GED,0,0,0.0,0,1,0,1,...,1.0,0.0,1.0,0.0,0.0,30-44,Male,"$25,000-$49,999",Mountain,Android Phone / Tablet
1,1,1,Some Phd,1,0,0.0,0,1,0,0,...,0.0,0.0,1.0,0.0,1.0,18-29,Male,"$50,000-$74,999",East South Central,MacOS Desktop / Laptop
2,1,0,Completed Undergraduate,1,0,0.0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$150,000-$174,999",Pacific,MacOS Desktop / Laptop
3,0,0,Some Undergraduate,1,0,NaN,0,1,1,1,...,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$25,000-$49,999",New England,Windows Desktop / Laptop
4,1,1,Completed Undergraduate,1,1,35.0,1,1,0,1,...,1.0,1.0,1.0,1.0,1.0,30-44,Male,"$25,000-$49,999",East North Central,iOS Phone / Tablet

In [9]:
# Binary encoding using Pandas 
mental_health_df = pd.get_dummies(mental_health_df, columns=["Education", "Age", "Gender", "Household Income", "Region", "Device Type"])
mental_health_df.head()

,I am currently employed at least part-time,I identify as having a mental illness,I have my own computer separate from a smart phone,I have been hospitalized before for my mental illness,How many days were you hospitalized for your mental illness,I am legally disabled,I have my regular access to the internet,I live with my parents,I have a gap in my resume,Total length of any gaps in my resume inÂ months.,...,Region_New England,Region_Pacific,Region_South Atlantic,Region_West North Central,Region_West South Central,Device Type_Android Phone / Tablet,Device Type_MacOS Desktop / Laptop,Device Type_Other,Device Type_Windows Desktop / Laptop,Device Type_iOS Phone / Tablet
0,0,0,0,0,0.0,0,1,0,1,24,...,0,0,0,0,0,1,0,0,0,0
1,1,1,1,0,0.0,0,1,0,0,1,...,0,0,0,0,0,0,1,0,0,0
2,1,0,1,0,0.0,0,1,0,0,0,...,0,1,0,0,0,0,1,0,0,0
3,0,0,1,0,NaN,0,1,1,1,11,...,1,0,0,0,0,0,0,0,1,0
4,1,1,1,1,35.0,1,1,0,1,33,...,0,0,0,0,0,0,0,0,0,1

In [10]:
# Drop NaN 
mental_health_df = mental_health_df.dropna()

In [12]:
# Segment the features from the target
y = mental_health_df["I am currently employed at least part-time"]
X = mental_health_df.drop(columns="I am currently employed at least part-time")

In [13]:
# Use the train_test_split function to create training and testing subsets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(222, 63)

In [14]:
# Instantiate a linear SVM model
from sklearn.svm import SVC
model = SVC(kernel='linear')

In [15]:
# Fit the data
model.fit(X_train, y_train)

SVC(kernel='linear')

In [17]:
# Make predictions using the test data
y_pred = model.predict(X_test)
results = pd.DataFrame({
    "Prediction": y_pred, 
    "Actual": y_test
}).reset_index(drop=True)
results.head()

   Prediction  Actual
0           0       0
1           1       1
2           1       0
3           0       0
4           0       0

In [18]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8378378378378378

In [19]:
    from sklearn.metrics import confusion_matrix
    confusion_matrix(y_test, y_pred)

array([[16,  8],
       [ 4, 46]], dtype=int64)

In [20]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.80      0.67      0.73        24
           1       0.85      0.92      0.88        50

    accuracy                           0.84        74
   macro avg       0.83      0.79      0.81        74
weighted avg       0.84      0.84      0.83        74