## import dependencies and data file

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder

#import warnings
#warnings.filterwarnings('ignore')

In [2]:
OSMI_MHIT_cleaned = pd.read_csv(Path('../resources/OSMI_MHIT_mostly_clean.csv'))
OSMI_MHIT_cleaned

,new_id,self_employed,company_size,tech_company,mh_coverage,mh_coverage_awareness,mh_employer_discussion,mh_resources_provided,mh_anonimity,mh_medical_leave,...,age,gender,country_live,live_us_state,country_work,work_us_state,work_position,remote,quantile_age_1,quantile_age_2
0,1,0,26-100,1,Not eligible for coverage / N/A,NaN,No,No,I don't know,Very easy,...,39,male,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Sometimes,"(38.0, 99.0]","(37.0, 39.0]"
1,2,0,6-25,1,No,Yes,Yes,Yes,Yes,Somewhat easy,...,29,male,United States of America,Illinois,United States of America,Illinois,Back-end Developer|Front-end Developer,Never,"(28.0, 32.0]","(27.0, 29.0]"
2,3,0,6-25,1,No,NaN,No,No,I don't know,Neither easy nor difficult,...,38,male,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Always,"(32.0, 38.0]","(37.0, 39.0]"
3,4,0,6-25,0,Yes,Yes,No,No,No,Neither easy nor difficult,...,43,female,United States of America,Illinois,United States of America,Illinois,Executive Leadership|Supervisor/Team Lead|Dev ...,Sometimes,"(38.0, 99.0]","(39.0, 44.0]"
4,5,0,More than 1000,1,Yes,I am not sure,No,Yes,Yes,Somewhat easy,...,42,male,United Kingdom,NaN,United Kingdom,NaN,DevOps/SysAdmin|Support|Back-end Developer|Fro...,Sometimes,"(38.0, 99.0]","(39.0, 44.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999,1003,0,100-500,1,I don't know,I am not sure,No,I don't know,I don't know,Somewhat easy,...,26,female,Canada,NaN,Canada,NaN,Other,Sometimes,"(19.999, 28.0]","(25.0, 27.0]"
1000,1004,0,500-1000,1,Yes,No,No,No,Yes,Somewhat easy,...,38,female,United States of America,Illinois,United States of America,Illinois,Support,Always,"(32.0, 38.0]","(37.0, 39.0]"
1001,1005,0,100-500,1,Yes,Yes,Yes,Yes,I don't know,Somewhat difficult,...,52,male,United States of America,Georgia,United States of America,Georgia,Back-end Developer,Sometimes,"(38.0, 99.0]","(44.0, 99.0]"
1002,1006,0,100-500,0,I don't know,I am not sure,No,Yes,I don't know,Somewhat difficult,...,30,female,United States of America,Nebraska,United States of America,Nebraska,DevOps/SysAdmin,Sometimes,"(28.0, 32.0]","(29.0, 30.0]"
1003,1007,0,100-500,1,Yes,No,No,No,I don't know,Very difficult,...,25,nonbinary,Canada,NaN,Canada,NaN,Other,Sometimes,"(19.999, 28.0]","(19.0, 25.0]"

In [3]:
OSMI_MHIT_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004 entries, 0 to 1003
Data columns (total 54 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   new_id                                 1004 non-null   int64
 1   self_employed                          1004 non-null   int64
 2   company_size                           1004 non-null   object
 3   tech_company                           1004 non-null   int64
 4   mh_coverage                            1004 non-null   object
 5   mh_coverage_awareness                  901 non-null    object
 6   mh_employer_discussion                 1004 non-null   object
 7   mh_resources_provided                  1004 non-null   object
 8   mh_anonimity                           1004 non-null   object
 9   mh_medical_leave                       1004 non-null   object
 10  mh_discussion_negative_impact          1004 non-null   object
 11  ph_discussion_negative_impact          1004 non-null   object
 12  mh_discussion_coworkers                1004 non-null   object
 13  mh_discussion_supervisors              1004 non-null   object
 14  mh_equal_ph                            1004 non-null   object
 15  mh_observed_consequences_coworkers     1004 non-null   object
 16  prev_employers                         1004 non-null   int64
 17  prev_mh_benefits                       893 non-null    object
 18  prev_mh_benefits_awareness             893 non-null    object
 19  prev_mh_discussion                     893 non-null    object
 20  prev_mh_resources                      893 non-null    object
 21  prev_mh_anonimity                      893 non-null    object
 22  prev_mh_discuss_negative_consequences  893 non-null    object
 23  prev_ph_discuss_negative_consequences  893 non-null    object
 24  prev_mh_discussion_coworkers           893 non-null    object
 25  prev_mh_discussion_supervisors         893 non-null    object
 26  prev_mh_importance_employer            893 non-null    object
 27  prev_mh_consequences_coworkers         893 non-null    object
 28  future_ph_specification                1004 non-null   object
 29  future_mh_specification                1004 non-null   object
 30  mh_hurt_on_career                      1004 non-null   object
 31  mh_neg_view_coworkers                  1004 non-null   object
 32  mh_sharing_friends_family              1004 non-null   object
 33  mh_bad_response_workplace              960 non-null    object
 34  mh_for_others_bad_response_workplace   457 non-null    object
 35  mh_family_history                      1004 non-null   object
 36  mh_dx_past                             1004 non-null   object
 37  mh_dx_current                          1004 non-null   object
 38  yes_what_dx?                           420 non-null    object
 39  mh_dx_pro                              1004 non-null   object
 40  yes_condition_dx                       522 non-null    object
 41  mh_sought_pro_tx                       1004 non-null   int64
 42  mh_eff_tx_impact_on_work               1004 non-null   object
 43  mh_not_eff_tx_impact_on_work           1004 non-null   object
 44  age                                    1004 non-null   int64
 45  gender                                 1004 non-null   object
 46  country_live                           1004 non-null   object
 47  live_us_state                          707 non-null    object
 48  country_work                           1004 non-null   object
 49  work_us_state                          709 non-null    object
 50  work_position                          1004 non-null   object
 51  remote                                 1004 non-null   object
 52  quantile_age_1                         1004 non-null   object
 53  quantile_age_2                         1004 non-null   object
dtypes: int64(6), object(48)
memory usage: 423.7+ KB

In [6]:
OSMI_MHIT_cleaned['mh_coverage_awareness'].value_counts()

I am not sure    309
Yes              297
No               295
Name: mh_coverage_awareness, dtype: int64