## import dependencies and load data file

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Column rename
renamed_columns = ['self_employed', 'company_size', 'tech_company', 'tech_role', 'mh_coverage',
                   'mh_coverage_awareness', 'mh_employer_discussion', 'mh_resources_provided', 'mh_anonimity',
                   'mh_medical_leave', 'mh_discussion_negative_impact', 'ph_discussion_negative_impact',
                   'mh_discussion_coworkers','mh_discussion_supervisors', 'mh_equal_ph',
                   'mh_observed_consequences_coworkers', 'mh_coverage_2', 'mh_online_resources',
                   'mh_dx_revealed_clients', 'mh_dx_revealed_clients_impact', 'mh_dx_revealed_coworkers',
                   'mh_coworkers_reveal_negative_impact','mh_product_impact', 'mh_product_impact_perceived',
                   'prev_employers', 'prev_mh_benefits', 'prev_mh_benefits_awareness','prev_mh_discussion',
                   'prev_mh_resources', 'prev_mh_anonimity', 'prev_mh_discuss_negative_consequences',
                   'prev_ph_discuss_negative_consequences', 'prev_mh_discussion_coworkers',
                   'prev_mh_discussion_supervisors', 'prev_mh_importance_employer', 'prev_mh_consequences_coworkers',
                   'future_ph_specification', 'why_why_not', 'future_mh_specification', 'why_why_not2',
                   'mh_hurt_on_career', 'mh_neg_view_coworkers','mh_sharing_friends_family',
                   'mh_bad_response_workplace', 'mh_for_others_bad_response_workplace', 'mh_family_history',
                   'mh_dx_past', 'mh_dx_current', 'yes_what_dx?', 'maybe_whats_your_dx', 'mh_dx_pro',
                   'yes_condition_dx', 'mh_sought_pro_tx', 'mh_eff_tx_impact_on_work',
                   'mh_not_eff_tx_impact_on_work', 'age', 'gender', 'country_live', 'live_us_state',
                   'country_work', 'work_us_state', 'work_position', 'remote']

In [3]:
df = pd.read_csv(Path('mental-heath-in-tech-2016_20161114.csv'),names=renamed_columns)
df.head(20)

,self_employed,company_size,tech_company,tech_role,mh_coverage,mh_coverage_awareness,mh_employer_discussion,mh_resources_provided,mh_anonimity,mh_medical_leave,...,mh_eff_tx_impact_on_work,mh_not_eff_tx_impact_on_work,age,gender,country_live,live_us_state,country_work,work_us_state,work_position,remote
0,Are you self-employed?,How many employees does your company or organi...,Is your employer primarily a tech company/orga...,Is your primary role within your company relat...,Does your employer provide mental health benef...,Do you know the options for mental health care...,Has your employer ever formally discussed ment...,Does your employer offer resources to learn mo...,Is your anonymity protected if you choose to t...,If a mental health issue prompted you to reque...,...,"If you have a mental health issue, do you feel...","If you have a mental health issue, do you feel...",What is your age?,What is your gender?,What country do you live in?,What US state or territory do you live in?,What country do you work in?,What US state or territory do you work in?,Which of the following best describes your wor...,Do you work remotely?
1,0,26-100,1,NaN,Not eligible for coverage / N/A,NaN,No,No,I don't know,Very easy,...,Not applicable to me,Not applicable to me,39,Male,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Sometimes
2,0,6-25,1,NaN,No,Yes,Yes,Yes,Yes,Somewhat easy,...,Rarely,Sometimes,29,male,United States of America,Illinois,United States of America,Illinois,Back-end Developer|Front-end Developer,Never
3,0,6-25,1,NaN,No,NaN,No,No,I don't know,Neither easy nor difficult,...,Not applicable to me,Not applicable to me,38,Male,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Always
4,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Sometimes,Sometimes,43,male,United Kingdom,NaN,United Kingdom,NaN,Supervisor/Team Lead,Sometimes
5,0,6-25,0,1,Yes,Yes,No,No,No,Neither easy nor difficult,...,Sometimes,Sometimes,43,Female,United States of America,Illinois,United States of America,Illinois,Executive Leadership|Supervisor/Team Lead|Dev ...,Sometimes
6,0,More than 1000,1,NaN,Yes,I am not sure,No,Yes,Yes,Somewhat easy,...,Not applicable to me,Often,42,Male,United Kingdom,NaN,United Kingdom,NaN,DevOps/SysAdmin|Support|Back-end Developer|Fro...,Sometimes
7,0,26-100,1,NaN,I don't know,No,No,No,I don't know,Somewhat easy,...,Not applicable to me,Not applicable to me,30,M,United States of America,Tennessee,United States of America,Tennessee,Back-end Developer,Sometimes
8,0,More than 1000,1,NaN,Yes,Yes,No,Yes,Yes,Very easy,...,Sometimes,Often,37,female,United States of America,Virginia,United States of America,Virginia,Dev Evangelist/Advocate|Back-end Developer,Always
9,0,26-100,0,1,I don't know,No,No,No,I don't know,Very difficult,...,Rarely,Often,44,Female,United States of America,California,United States of America,California,Support|Back-end Developer|One-person shop,Sometimes
10,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Rarely,Often,30,Male,United States of America,Kentucky,United States of America,Kentucky,One-person shop|Front-end Developer|Back-end D...,Always
11,0,26-100,1,NaN,Yes,I am not sure,Yes,Yes,Yes,Very easy,...,Sometimes,Often,28,Male,United States of America,Oregon,United States of America,Oregon,Front-end Developer,Never
12,0,100-500,0,1,Yes,Yes,No,I don't know,I don't know,Somewhat difficult,...,Never,Rarely,34,Male,United States of America,Pennsylvania,United States of America,Pennsylvania,Executive Leadership,Sometimes
13,0,100-500,1,NaN,Yes,I am not sure,No,No,Yes,Very easy,...,Rarely,Sometimes,30,Female,United States of America,New Jersey,United States of America,New Jersey,Supervisor/Team Lead|Dev Evangelist/Advocate|B...,Always
14,0,100-500,0,1,Yes,Yes,Yes,Yes,Yes,Somewhat easy,...,Not applicable to me,Sometimes,44,Male,Canada,NaN,Canada,NaN,DevOps/SysAdmin|Back-end Developer|Front-end D...,Sometimes
15,0,100-500,1,NaN,Yes,Yes,No,I don't know,Yes,Very easy,...,Sometimes,Sometimes,35,Male,United States of America,Georgia,United States of America,Georgia,Designer,Always
16,0,100-500,1,NaN,I don't know,No,No,I don't know,I don't know,Neither easy nor difficult,...,Rarely,Sometimes,52,m,United States of America,Oregon,United States of America,Oregon,Other|Executive Leadership,Sometimes
17,0,26-100,1,NaN,Not eligible for coverage / N/A,No,No,No,I don't know,Very difficult,...,Sometimes,Often,32,I identify as female.,Canada,NaN,Canada,NaN,Front-end Developer,Always
18,0,500-1000,1,NaN,No,No,No,No,I don't know,I don't know,...,Not applicable to me,Not applicable to me,34,Male,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Never
19,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Often,Often,25,female,United States of America,Washington,United States of America,Washington,One-person shop,Always

## inspect dataset

In [4]:
#data row count
print(df.shape)

(1434, 63)

In [5]:
#distribution of the data?
print(df.describe(include='all'))

       self_employed company_size tech_company tech_role mh_coverage  \
count           1434         1147         1147       264        1147
unique             3            7            3         3           5
top                0       26-100            1         1         Yes
freq            1146          292          883       248         531

       mh_coverage_awareness mh_employer_discussion mh_resources_provided  \
count                   1014                   1147                  1147
unique                     4                      4                     4
top                       No                     No                    No
freq                     354                    813                   531

        mh_anonimity mh_medical_leave  ... mh_eff_tx_impact_on_work  \
count           1147             1147  ...                     1434
unique             4                7  ...                        6
top     I don't know    Somewhat easy  ...     Not applicable to me
freq             742              281  ...                      557

       mh_not_eff_tx_impact_on_work   age gender              country_live  \
count                          1434  1434   1431                      1434
unique                            6    54     71                        54
top                           Often    30   Male  United States of America
freq                            538    94    610                       840

       live_us_state              country_work work_us_state  \
count            841                      1434           852
unique            48                        54            49
top       California  United States of America    California
freq             130                       851           141

             work_position     remote
count                 1434       1434
unique                 265          4
top     Back-end Developer  Sometimes
freq                   263        757

[4 rows x 63 columns]

In [6]:
#Pandas: What types of data do i have?
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1434 entries, 0 to 1433
Data columns (total 63 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   self_employed                          1434 non-null   object
 1   company_size                           1147 non-null   object
 2   tech_company                           1147 non-null   object
 3   tech_role                              264 non-null    object
 4   mh_coverage                            1147 non-null   object
 5   mh_coverage_awareness                  1014 non-null   object
 6   mh_employer_discussion                 1147 non-null   object
 7   mh_resources_provided                  1147 non-null   object
 8   mh_anonimity                           1147 non-null   object
 9   mh_medical_leave                       1147 non-null   object
 10  mh_discussion_negative_impact          1147 non-null   object
 11  ph_discussion_negative_impact          1147 non-null   object
 12  mh_discussion_coworkers                1147 non-null   object
 13  mh_discussion_supervisors              1147 non-null   object
 14  mh_equal_ph                            1147 non-null   object
 15  mh_observed_consequences_coworkers     1147 non-null   object
 16  mh_coverage_2                          288 non-null    object
 17  mh_online_resources                    288 non-null    object
 18  mh_dx_revealed_clients                 288 non-null    object
 19  mh_dx_revealed_clients_impact          145 non-null    object
 20  mh_dx_revealed_coworkers               288 non-null    object
 21  mh_coworkers_reveal_negative_impact    288 non-null    object
 22  mh_product_impact                      288 non-null    object
 23  mh_product_impact_perceived            205 non-null    object
 24  prev_employers                         1434 non-null   object
 25  prev_mh_benefits                       1265 non-null   object
 26  prev_mh_benefits_awareness             1265 non-null   object
 27  prev_mh_discussion                     1265 non-null   object
 28  prev_mh_resources                      1265 non-null   object
 29  prev_mh_anonimity                      1265 non-null   object
 30  prev_mh_discuss_negative_consequences  1265 non-null   object
 31  prev_ph_discuss_negative_consequences  1265 non-null   object
 32  prev_mh_discussion_coworkers           1265 non-null   object
 33  prev_mh_discussion_supervisors         1265 non-null   object
 34  prev_mh_importance_employer            1265 non-null   object
 35  prev_mh_consequences_coworkers         1265 non-null   object
 36  future_ph_specification                1434 non-null   object
 37  why_why_not                            1096 non-null   object
 38  future_mh_specification                1434 non-null   object
 39  why_why_not2                           1127 non-null   object
 40  mh_hurt_on_career                      1434 non-null   object
 41  mh_neg_view_coworkers                  1434 non-null   object
 42  mh_sharing_friends_family              1434 non-null   object
 43  mh_bad_response_workplace              1345 non-null   object
 44  mh_for_others_bad_response_workplace   658 non-null    object
 45  mh_family_history                      1434 non-null   object
 46  mh_dx_past                             1434 non-null   object
 47  mh_dx_current                          1434 non-null   object
 48  yes_what_dx?                           569 non-null    object
 49  maybe_whats_your_dx                    323 non-null    object
 50  mh_dx_pro                              1434 non-null   object
 51  yes_condition_dx                       712 non-null    object
 52  mh_sought_pro_tx                       1434 non-null   object
 53  mh_eff_tx_impact_on_work               1434 non-null   object
 54  mh_not_eff_tx_impact_on_work           1434 non-null   object
 55  age                                    1434 non-null   object
 56  gender                                 1431 non-null   object
 57  country_live                           1434 non-null   object
 58  live_us_state                          841 non-null    object
 59  country_work                           1434 non-null   object
 60  work_us_state                          852 non-null    object
 61  work_position                          1434 non-null   object
 62  remote                                 1434 non-null   object
dtypes: object(63)
memory usage: 705.9+ KB
None

## begin encoding

In [7]:
# Re-Code Gender
# recode 'male'
df['gender'].replace(to_replace = ['Male', 'male', 'Male ', 'M', 'm','man', 'Cis male', 'Male.',
                                   'male 9:1 female, roughly', 'Male (cis)', 'Man', 'Sex is male','cis male', 'Malr',
                                   'Dude', "I'm a man why didn't you make this a drop down question. You should of asked sex? And I would of answered yes please. Seriously how much text can this take? ",
                                   'mail', 'M|', 'Male/genderqueer', 'male ','Cis Male', 'Male (trans, FtM)',
                                   'cisdude', 'cis man', 'MALE'],
                     value='male', inplace = True)
# recode 'female'
df['gender'].replace(to_replace = ['Female', 'female', 'I identify as female.', 'female ','Female assigned at birth ',
                                   'F', 'Woman', 'fm', 'f', 'Cis female ', 'Transitioned, M2F',
                                   'Genderfluid (born female)', 'Female or Multi-Gender Femme', 'Female ', 'woman',
                                   'female/woman','Cisgender Female', 'fem',
                                   'Female (props for making this a freeform field, though)',' Female', 'Cis-woman',
                                   'female-bodied; no feelings about gender','AFAB', 'Transgender woman'],
                     value='female', inplace = True)
# recode for nonbinary (including NaN values)
df['gender'].replace(to_replace = ['Bigender', 'non-binary', 'Other/Transfeminine','Androgynous', 'Other',
                                   'nb masculine','none of your business', 'genderqueer', 'Human', 'Genderfluid',
                                   'Enby', 'genderqueer woman', 'mtf', 'Queer', 'Agender', 'Fluid','Nonbinary',
                                   'human', 'Unicorn', 'Genderqueer','Genderflux demi-girl',np.NaN],
                     value='nonbinary', inplace = True)

In [8]:
# verify sucessful coding
print(df['gender'].unique())

['What is your gender?' 'male' 'female' 'nonbinary']

In [9]:
df.drop(['why_why_not', 'why_why_not2'], axis=1, inplace=True)

In [10]:
#missing data
total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(32)

                                       Total   Percent
mh_dx_revealed_clients_impact           1289  0.898884
mh_product_impact_perceived             1229  0.857043
tech_role                               1170  0.815900
mh_dx_revealed_coworkers                1146  0.799163
mh_coverage_2                           1146  0.799163
mh_online_resources                     1146  0.799163
mh_dx_revealed_clients                  1146  0.799163
mh_product_impact                       1146  0.799163
mh_coworkers_reveal_negative_impact     1146  0.799163
maybe_whats_your_dx                     1111  0.774756
yes_what_dx?                             865  0.603208
mh_for_others_bad_response_workplace     776  0.541144
yes_condition_dx                         722  0.503487
live_us_state                            593  0.413529
work_us_state                            582  0.405858
mh_coverage_awareness                    420  0.292887
mh_observed_consequences_coworkers       287  0.200139
mh_equal_ph                              287  0.200139
mh_discussion_supervisors                287  0.200139
mh_discussion_coworkers                  287  0.200139
mh_resources_provided                    287  0.200139
mh_discussion_negative_impact            287  0.200139
mh_medical_leave                         287  0.200139
mh_anonimity                             287  0.200139
company_size                             287  0.200139
tech_company                             287  0.200139
mh_coverage                              287  0.200139
mh_employer_discussion                   287  0.200139
ph_discussion_negative_impact            287  0.200139
prev_mh_discussion                       169  0.117852
prev_mh_benefits                         169  0.117852
prev_mh_benefits_awareness               169  0.117852
prev_mh_discuss_negative_consequences    169  0.117852
prev_mh_resources                        169  0.117852
prev_mh_anonimity                        169  0.117852
prev_ph_discuss_negative_consequences    169  0.117852
prev_mh_discussion_coworkers             169  0.117852
prev_mh_discussion_supervisors           169  0.117852
prev_mh_importance_employer              169  0.117852
prev_mh_consequences_coworkers           169  0.117852

In [11]:
missing_data.tail(32)

                                       Total   Percent
mh_discussion_negative_impact            287  0.200139
mh_medical_leave                         287  0.200139
mh_anonimity                             287  0.200139
company_size                             287  0.200139
tech_company                             287  0.200139
mh_coverage                              287  0.200139
mh_employer_discussion                   287  0.200139
ph_discussion_negative_impact            287  0.200139
prev_mh_discussion                       169  0.117852
prev_mh_benefits                         169  0.117852
prev_mh_benefits_awareness               169  0.117852
prev_mh_discuss_negative_consequences    169  0.117852
prev_mh_resources                        169  0.117852
prev_mh_anonimity                        169  0.117852
prev_ph_discuss_negative_consequences    169  0.117852
prev_mh_discussion_coworkers             169  0.117852
prev_mh_discussion_supervisors           169  0.117852
prev_mh_importance_employer              169  0.117852
prev_mh_consequences_coworkers           169  0.117852
mh_bad_response_workplace                 89  0.062064
remote                                     0  0.000000
prev_employers                             0  0.000000
mh_dx_pro                                  0  0.000000
country_work                               0  0.000000
country_live                               0  0.000000
gender                                     0  0.000000
age                                        0  0.000000
mh_not_eff_tx_impact_on_work               0  0.000000
mh_eff_tx_impact_on_work                   0  0.000000
mh_sought_pro_tx                           0  0.000000
mh_dx_current                              0  0.000000
work_position                              0  0.000000
mh_dx_past                                 0  0.000000
mh_family_history                          0  0.000000
mh_sharing_friends_family                  0  0.000000
mh_neg_view_coworkers                      0  0.000000
mh_hurt_on_career                          0  0.000000
future_mh_specification                    0  0.000000
future_ph_specification                    0  0.000000
self_employed                              0  0.000000

In [12]:
df.head()

,self_employed,company_size,tech_company,tech_role,mh_coverage,mh_coverage_awareness,mh_employer_discussion,mh_resources_provided,mh_anonimity,mh_medical_leave,...,mh_eff_tx_impact_on_work,mh_not_eff_tx_impact_on_work,age,gender,country_live,live_us_state,country_work,work_us_state,work_position,remote
0,Are you self-employed?,How many employees does your company or organi...,Is your employer primarily a tech company/orga...,Is your primary role within your company relat...,Does your employer provide mental health benef...,Do you know the options for mental health care...,Has your employer ever formally discussed ment...,Does your employer offer resources to learn mo...,Is your anonymity protected if you choose to t...,If a mental health issue prompted you to reque...,...,"If you have a mental health issue, do you feel...","If you have a mental health issue, do you feel...",What is your age?,What is your gender?,What country do you live in?,What US state or territory do you live in?,What country do you work in?,What US state or territory do you work in?,Which of the following best describes your wor...,Do you work remotely?
1,0,26-100,1,NaN,Not eligible for coverage / N/A,NaN,No,No,I don't know,Very easy,...,Not applicable to me,Not applicable to me,39,male,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Sometimes
2,0,6-25,1,NaN,No,Yes,Yes,Yes,Yes,Somewhat easy,...,Rarely,Sometimes,29,male,United States of America,Illinois,United States of America,Illinois,Back-end Developer|Front-end Developer,Never
3,0,6-25,1,NaN,No,NaN,No,No,I don't know,Neither easy nor difficult,...,Not applicable to me,Not applicable to me,38,male,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Always
4,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Sometimes,Sometimes,43,male,United Kingdom,NaN,United Kingdom,NaN,Supervisor/Team Lead,Sometimes

In [13]:
# Examining distribution of data
df['country_live'].value_counts()

United States of America        840
United Kingdom                  180
Canada                           78
Germany                          58
Netherlands                      48
Australia                        35
Sweden                           19
France                           16
Ireland                          15
Brazil                           10
Switzerland                      10
New Zealand                       9
India                             9
Russia                            9
Denmark                           7
Finland                           7
Bulgaria                          7
Belgium                           5
Italy                             5
Romania                           4
South Africa                      4
Spain                             4
Poland                            4
Austria                           4
Pakistan                          3
Chile                             3
Czech Republic                    3
Norway                            3
Colombia                          2
Other                             2
Japan                             2
Israel                            2
Estonia                           2
Lithuania                         2
Bosnia and Herzegovina            2
Afghanistan                       2
Mexico                            2
Iran                              1
Hungary                           1
Venezuela                         1
Vietnam                           1
China                             1
Slovakia                          1
Taiwan                            1
Argentina                         1
Serbia                            1
Costa Rica                        1
Algeria                           1
Greece                            1
Bangladesh                        1
What country do you live in?      1
Guatemala                         1
Ecuador                           1
Brunei                            1
Name: country_live, dtype: int64

In [14]:
# Selecting rows based on condition (countries with more than 30 responses)
df = df.loc[(df['country_live'] == 'United States of America') | (df['country_live'] == 'United Kingdom') | (df['country_live'] == 'Canada') | (df['country_live'] == 'Germany') | (df['country_live'] == 'Netherlands') | (df['country_live'] == 'Australia')]

In [15]:
# Examining self-employed data
df['self_employed'].value_counts()

0    1007
1     232
Name: self_employed, dtype: int64

In [16]:
# selecting rows based on condition (restrict to people only employed in a company) 
df = df.loc[(df['self_employed'] == '0')]

In [17]:
df.head()

,self_employed,company_size,tech_company,tech_role,mh_coverage,mh_coverage_awareness,mh_employer_discussion,mh_resources_provided,mh_anonimity,mh_medical_leave,...,mh_eff_tx_impact_on_work,mh_not_eff_tx_impact_on_work,age,gender,country_live,live_us_state,country_work,work_us_state,work_position,remote
1,0,26-100,1,NaN,Not eligible for coverage / N/A,NaN,No,No,I don't know,Very easy,...,Not applicable to me,Not applicable to me,39,male,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Sometimes
2,0,6-25,1,NaN,No,Yes,Yes,Yes,Yes,Somewhat easy,...,Rarely,Sometimes,29,male,United States of America,Illinois,United States of America,Illinois,Back-end Developer|Front-end Developer,Never
3,0,6-25,1,NaN,No,NaN,No,No,I don't know,Neither easy nor difficult,...,Not applicable to me,Not applicable to me,38,male,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Always
5,0,6-25,0,1,Yes,Yes,No,No,No,Neither easy nor difficult,...,Sometimes,Sometimes,43,female,United States of America,Illinois,United States of America,Illinois,Executive Leadership|Supervisor/Team Lead|Dev ...,Sometimes
6,0,More than 1000,1,NaN,Yes,I am not sure,No,Yes,Yes,Somewhat easy,...,Not applicable to me,Often,42,male,United Kingdom,NaN,United Kingdom,NaN,DevOps/SysAdmin|Support|Back-end Developer|Fro...,Sometimes

In [18]:
# Add Unique Identifier Column
df.insert(0, 'new_id', range(1, 1 + len(df)))
df

,new_id,self_employed,company_size,tech_company,tech_role,mh_coverage,mh_coverage_awareness,mh_employer_discussion,mh_resources_provided,mh_anonimity,...,mh_eff_tx_impact_on_work,mh_not_eff_tx_impact_on_work,age,gender,country_live,live_us_state,country_work,work_us_state,work_position,remote
1,1,0,26-100,1,NaN,Not eligible for coverage / N/A,NaN,No,No,I don't know,...,Not applicable to me,Not applicable to me,39,male,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Sometimes
2,2,0,6-25,1,NaN,No,Yes,Yes,Yes,Yes,...,Rarely,Sometimes,29,male,United States of America,Illinois,United States of America,Illinois,Back-end Developer|Front-end Developer,Never
3,3,0,6-25,1,NaN,No,NaN,No,No,I don't know,...,Not applicable to me,Not applicable to me,38,male,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Always
5,4,0,6-25,0,1,Yes,Yes,No,No,No,...,Sometimes,Sometimes,43,female,United States of America,Illinois,United States of America,Illinois,Executive Leadership|Supervisor/Team Lead|Dev ...,Sometimes
6,5,0,More than 1000,1,NaN,Yes,I am not sure,No,Yes,Yes,...,Not applicable to me,Often,42,male,United Kingdom,NaN,United Kingdom,NaN,DevOps/SysAdmin|Support|Back-end Developer|Fro...,Sometimes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1427,1003,0,100-500,1,NaN,I don't know,I am not sure,No,I don't know,I don't know,...,Rarely,Often,26,female,Canada,NaN,Canada,NaN,Other,Sometimes
1428,1004,0,500-1000,1,NaN,Yes,No,No,No,Yes,...,Rarely,Often,38,female,United States of America,Illinois,United States of America,Illinois,Support,Always
1431,1005,0,100-500,1,NaN,Yes,Yes,Yes,Yes,I don't know,...,Rarely,Sometimes,52,male,United States of America,Georgia,United States of America,Georgia,Back-end Developer,Sometimes
1432,1006,0,100-500,0,1,I don't know,I am not sure,No,Yes,I don't know,...,Sometimes,Often,30,female,United States of America,Nebraska,United States of America,Nebraska,DevOps/SysAdmin,Sometimes
1433,1007,0,100-500,1,NaN,Yes,No,No,No,I don't know,...,Not applicable to me,Often,25,nonbinary,Canada,NaN,Canada,NaN,Other,Sometimes

In [19]:
# Examining age data
df['age'].value_counts()

30     67
28     59
32     57
35     55
29     54
31     53
26     49
27     49
34     48
33     44
37     41
39     40
36     38
24     34
38     30
25     29
40     29
22     24
42     21
45     20
44     19
23     19
43     17
46     15
41     15
21     13
47     10
49      7
55      5
20      5
51      5
48      5
52      5
50      4
57      3
56      2
54      2
63      2
53      2
99      1
66      1
74      1
70      1
59      1
58      1
62      1
61      1
19      1
3       1
323     1
Name: age, dtype: int64

In [20]:
# Convert age to integer
df[["age"]] = df[["age"]].apply(pd.to_numeric)

In [21]:
#drop unrealistic ages such as those under age 16 and over age 100
# Get names of indexes for which column Age has value less than 20
indexNames = df[ df['age'] < 20 ].index
# Delete these row indexes from dataFrame
df.drop(indexNames , inplace=True)
# Get names of indexes for which column Age has value greater than 100
indexNames = df[ df['age'] > 100 ].index
# Delete these row indexes from dataFrame
df.drop(indexNames , inplace=True)

In [22]:
# Examining age to prepare for binning
df['age'].describe()

count    1004.000000
mean       33.659363
std         8.086614
min        20.000000
25%        28.000000
50%        32.000000
75%        38.000000
max        99.000000
Name: age, dtype: float64

In [23]:
#complete missing age with mean
df['age'].fillna(df['age'].median(), inplace = True)

In [24]:
#create 4 equal sized groupings of the data
pd.qcut(df['age'], q=4)

1         (38.0, 99.0]
2         (28.0, 32.0]
3         (32.0, 38.0]
5         (38.0, 99.0]
6         (38.0, 99.0]
             ...
1427    (19.999, 28.0]
1428      (32.0, 38.0]
1431      (38.0, 99.0]
1432      (28.0, 32.0]
1433    (19.999, 28.0]
Name: age, Length: 1004, dtype: category
Categories (4, interval[float64]): [(19.999, 28.0] < (28.0, 32.0] < (32.0, 38.0] < (38.0, 99.0]]

In [25]:
#create 4 bins (aka quartiles) and 10 bins (aka deciles) and store the results back in the original dataframe
df['quantile_age_1'] = pd.qcut(df['age'], q=4)
df['quantile_age_2'] = pd.qcut(df['age'], q=10, precision=0)

df.head()

,new_id,self_employed,company_size,tech_company,tech_role,mh_coverage,mh_coverage_awareness,mh_employer_discussion,mh_resources_provided,mh_anonimity,...,age,gender,country_live,live_us_state,country_work,work_us_state,work_position,remote,quantile_age_1,quantile_age_2
1,1,0,26-100,1,NaN,Not eligible for coverage / N/A,NaN,No,No,I don't know,...,39,male,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Sometimes,"(38.0, 99.0]","(37.0, 39.0]"
2,2,0,6-25,1,NaN,No,Yes,Yes,Yes,Yes,...,29,male,United States of America,Illinois,United States of America,Illinois,Back-end Developer|Front-end Developer,Never,"(28.0, 32.0]","(27.0, 29.0]"
3,3,0,6-25,1,NaN,No,NaN,No,No,I don't know,...,38,male,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Always,"(32.0, 38.0]","(37.0, 39.0]"
5,4,0,6-25,0,1,Yes,Yes,No,No,No,...,43,female,United States of America,Illinois,United States of America,Illinois,Executive Leadership|Supervisor/Team Lead|Dev ...,Sometimes,"(38.0, 99.0]","(39.0, 44.0]"
6,5,0,More than 1000,1,NaN,Yes,I am not sure,No,Yes,Yes,...,42,male,United Kingdom,NaN,United Kingdom,NaN,DevOps/SysAdmin|Support|Back-end Developer|Fro...,Sometimes,"(38.0, 99.0]","(39.0, 44.0]"

In [26]:
# check for null values and data types in table
def missing_zero_values_table(df):
        zero_val = (df == 0.00).astype(int).sum(axis=0)
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        mz_table = pd.concat([zero_val, mis_val, mis_val_percent], axis=1)
        mz_table = mz_table.rename(
        columns = {0 : 'Zero Values', 1 : 'Missing Values', 2 : '% of Total Values'})
        mz_table['Total Zero Missing Values'] = mz_table['Zero Values'] + mz_table['Missing Values']
        mz_table['% Total Zero Missing Values'] = 100 * mz_table['Total Zero Missing Values'] / len(df)
        mz_table['Data Type'] = df.dtypes
        mz_table = mz_table[
            mz_table.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns and " + str(df.shape[0]) + " Rows.\n"      
            "There are " + str(mz_table.shape[0]) +
              " columns that have missing values.")
#         mz_table.to_excel('D:/sampledata/missing_and_zero_values.xlsx', freeze_panes=(1,0), index = False)
        return mz_table

missing_zero_values_table(df)

Your selected dataframe has 64 columns and 1004 Rows.
There are 28 columns that have missing values.

,Zero Values,Missing Values,% of Total Values,Total Zero Missing Values,% Total Zero Missing Values,Data Type
mh_coverage_2,0,1004,100.0,1004,100.0,object
mh_online_resources,0,1004,100.0,1004,100.0,object
mh_dx_revealed_clients,0,1004,100.0,1004,100.0,object
mh_dx_revealed_clients_impact,0,1004,100.0,1004,100.0,object
mh_dx_revealed_coworkers,0,1004,100.0,1004,100.0,object
mh_coworkers_reveal_negative_impact,0,1004,100.0,1004,100.0,object
mh_product_impact,0,1004,100.0,1004,100.0,object
mh_product_impact_perceived,0,1004,100.0,1004,100.0,object
maybe_whats_your_dx,0,790,78.7,790,78.7,object
tech_role,0,768,76.5,768,76.5,object
yes_what_dx?,0,584,58.2,584,58.2,object
mh_for_others_bad_response_workplace,0,547,54.5,547,54.5,object
yes_condition_dx,0,482,48.0,482,48.0,object
live_us_state,0,297,29.6,297,29.6,object
work_us_state,0,295,29.4,295,29.4,object
prev_mh_discuss_negative_consequences,0,111,11.1,111,11.1,object
prev_ph_discuss_negative_consequences,0,111,11.1,111,11.1,object
prev_mh_discussion_coworkers,0,111,11.1,111,11.1,object
prev_mh_discussion_supervisors,0,111,11.1,111,11.1,object
prev_mh_importance_employer,0,111,11.1,111,11.1,object
prev_mh_consequences_coworkers,0,111,11.1,111,11.1,object
prev_mh_resources,0,111,11.1,111,11.1,object
prev_mh_discussion,0,111,11.1,111,11.1,object
prev_mh_benefits_awareness,0,111,11.1,111,11.1,object
prev_mh_benefits,0,111,11.1,111,11.1,object
prev_mh_anonimity,0,111,11.1,111,11.1,object
mh_coverage_awareness,0,103,10.3,103,10.3,object
mh_bad_response_workplace,0,44,4.4,44,4.4,object

In [27]:
# Dropping rows because... ?
df=df.drop(['mh_coverage_2','mh_online_resources','mh_dx_revealed_clients','mh_coworkers_reveal_negative_impact',
            'mh_product_impact','mh_product_impact_perceived','mh_dx_revealed_clients_impact',
            'mh_dx_revealed_coworkers'], axis=1)

In [28]:
# Regex to ...?
df=df.replace(r'^\s+$', np.nan, regex=True)

In [29]:
# Check data types 
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1004 entries, 1 to 1433
Data columns (total 56 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   new_id                                 1004 non-null   int32
 1   self_employed                          1004 non-null   object
 2   company_size                           1004 non-null   object
 3   tech_company                           1004 non-null   object
 4   tech_role                              236 non-null    object
 5   mh_coverage                            1004 non-null   object
 6   mh_coverage_awareness                  901 non-null    object
 7   mh_employer_discussion                 1004 non-null   object
 8   mh_resources_provided                  1004 non-null   object
 9   mh_anonimity                           1004 non-null   object
 10  mh_medical_leave                       1004 non-null   object
 11  mh_discussion_negative_impact          1004 non-null   object
 12  ph_discussion_negative_impact          1004 non-null   object
 13  mh_discussion_coworkers                1004 non-null   object
 14  mh_discussion_supervisors              1004 non-null   object
 15  mh_equal_ph                            1004 non-null   object
 16  mh_observed_consequences_coworkers     1004 non-null   object
 17  prev_employers                         1004 non-null   object
 18  prev_mh_benefits                       893 non-null    object
 19  prev_mh_benefits_awareness             893 non-null    object
 20  prev_mh_discussion                     893 non-null    object
 21  prev_mh_resources                      893 non-null    object
 22  prev_mh_anonimity                      893 non-null    object
 23  prev_mh_discuss_negative_consequences  893 non-null    object
 24  prev_ph_discuss_negative_consequences  893 non-null    object
 25  prev_mh_discussion_coworkers           893 non-null    object
 26  prev_mh_discussion_supervisors         893 non-null    object
 27  prev_mh_importance_employer            893 non-null    object
 28  prev_mh_consequences_coworkers         893 non-null    object
 29  future_ph_specification                1004 non-null   object
 30  future_mh_specification                1004 non-null   object
 31  mh_hurt_on_career                      1004 non-null   object
 32  mh_neg_view_coworkers                  1004 non-null   object
 33  mh_sharing_friends_family              1004 non-null   object
 34  mh_bad_response_workplace              960 non-null    object
 35  mh_for_others_bad_response_workplace   457 non-null    object
 36  mh_family_history                      1004 non-null   object
 37  mh_dx_past                             1004 non-null   object
 38  mh_dx_current                          1004 non-null   object
 39  yes_what_dx?                           420 non-null    object
 40  maybe_whats_your_dx                    214 non-null    object
 41  mh_dx_pro                              1004 non-null   object
 42  yes_condition_dx                       522 non-null    object
 43  mh_sought_pro_tx                       1004 non-null   object
 44  mh_eff_tx_impact_on_work               1004 non-null   object
 45  mh_not_eff_tx_impact_on_work           1004 non-null   object
 46  age                                    1004 non-null   int64
 47  gender                                 1004 non-null   object
 48  country_live                           1004 non-null   object
 49  live_us_state                          707 non-null    object
 50  country_work                           1004 non-null   object
 51  work_us_state                          709 non-null    object
 52  work_position                          1004 non-null   object
 53  remote                                 1004 non-null   object
 54  quantile_age_1                         1004 non-null   category
 55  quantile_age_2                         1004 non-null   category
dtypes: category(2), int32(1), int64(1), object(52)
memory usage: 430.1+ KB

## Encoding cell entries to numeric values

In [30]:
# Convert self_employed to integer
df[["self_employed"]] = df[["self_employed"]].apply(pd.to_numeric)

In [31]:
# Examining company size data
df['company_size'].value_counts()

26-100            263
More than 1000    231
100-500           212
6-25              181
500-1000           68
1-5                49
Name: company_size, dtype: int64

In [32]:
# Re-code categorical variables
# company_size
df["company_size"].replace({"1-5": "1",
                            "6-25": "2",
                            "26-100": "3",
                            "100-500": "4",
                            "500-1000": "5",
                            "More than 1000": "6"},
                           inplace=True)
# Convert company_size to integer
df[["company_size"]] = df[["company_size"]].apply(pd.to_numeric)

In [33]:
# Examining tech_company data
df['tech_company'].value_counts()

1    768
0    236
Name: tech_company, dtype: int64

In [34]:
# Convert tech_company to integer
df[["tech_company"]] = df[["tech_company"]].apply(pd.to_numeric)

In [35]:
# Examining tech_role data
df['tech_role'].value_counts()

1    221
0     15
Name: tech_role, dtype: int64

In [36]:
# Convert tech_role to integer
df[["tech_role"]] = df[["tech_role"]].apply(pd.to_numeric)

In [37]:
# Examining mh_coverage data
df['mh_coverage'].value_counts()

Yes                                510
I don't know                       275
No                                 154
Not eligible for coverage / N/A     65
Name: mh_coverage, dtype: int64

In [38]:
# Re-code categorical variables
# mh_coverage
df["mh_coverage"].replace({"Yes": "1",
                           "I don't know": "2",
                           "No": "0",
                           "Not eligible for coverage / N/A": "3"}, inplace=True)
# Convert mh_coverage to integer
df[["mh_coverage"]] = df[["mh_coverage"]].apply(pd.to_numeric)

In [39]:
# Examining mh_coverage_awareness data
df['mh_coverage_awareness'].value_counts()

I am not sure    309
Yes              297
No               295
Name: mh_coverage_awareness, dtype: int64

In [40]:
# Re-code categorical variables
# mh_coverage_awareness
df["mh_coverage_awareness"].replace({"Yes": "1",
                                     "I am not sure": "2",
                                     "No": "0"}, inplace=True)
# Convert mh_coverage to integer
df[["mh_coverage_awareness"]] = df[["mh_coverage_awareness"]].apply(pd.to_numeric)

In [41]:
# Examining mh_employer_discussion data
df['mh_employer_discussion'].value_counts()

No              708
Yes             203
I don't know     93
Name: mh_employer_discussion, dtype: int64

In [42]:
# Re-code categorical variables
# mh_employer_discussion
df["mh_employer_discussion"].replace({"Yes": "1",
                                      "I don't know": "2",
                                      "No": "0"}, inplace=True)
# Convert mh_coverage to integer
df[["mh_employer_discussion"]] = df[["mh_employer_discussion"]].apply(pd.to_numeric)

In [43]:
# Examining mh_resources_provided data
df['mh_resources_provided'].value_counts()

No              438
I don't know    289
Yes             277
Name: mh_resources_provided, dtype: int64

In [44]:
# Re-code categorical variables
# mh_resources_provided
df["mh_resources_provided"].replace({"Yes": "1",
                                     "I don't know": "2",
                                     "No": "0"}, inplace=True)
# Convert mh_coverage to integer
df[["mh_resources_provided"]] = df[["mh_resources_provided"]].apply(pd.to_numeric)

In [45]:
# Examining mh_anonimity data
df['mh_anonimity'].value_counts()

I don't know    649
Yes             293
No               62
Name: mh_anonimity, dtype: int64

In [46]:
# Re-code categorical variables
# mh_anonimity
df["mh_anonimity"].replace({"Yes": "1",
                            "I don't know": "2",
                            "No": "0"}, inplace=True)
# Convert mh_anonimity to integer
df[["mh_anonimity"]] = df[["mh_anonimity"]].apply(pd.to_numeric)

In [47]:
# Examining mh_medical_leave data
df['mh_medical_leave'].value_counts()

Somewhat easy                 241
Very easy                     185
Somewhat difficult            180
Neither easy nor difficult    161
I don't know                  130
Very difficult                107
Name: mh_medical_leave, dtype: int64

In [48]:
# Re-code categorical variables
# mh_medical_leave
df["mh_medical_leave"].replace({"Very easy": "1",
                                "Somewhat easy": "2",
                                "I don't know": "0",
                                "Neither easy nor difficult": "3",
                                "Somewhat difficult": "4",
                                "Very difficult": "5"}, inplace=True)
# Convert mh_medical_leave to integer
df[["mh_medical_leave"]] = df[["mh_medical_leave"]].apply(pd.to_numeric)

In [49]:
# Examining mh_discussion_negative_impact data
df['mh_discussion_negative_impact'].value_counts()

Maybe    427
No       383
Yes      194
Name: mh_discussion_negative_impact, dtype: int64

In [50]:
# Re-code categorical variables
# mh_discussion_negative_impact
df["mh_discussion_negative_impact"].replace({"Yes": "1",
                                             "Maybe": "2",
                                             "No": "0"}, inplace=True)
# Convert mh_discussion_negative_impact to integer
df[["mh_discussion_negative_impact"]] = df[["mh_discussion_negative_impact"]].apply(pd.to_numeric)

In [51]:
# Examining ph_discussion_negative_impact data
df['ph_discussion_negative_impact'].value_counts()

No       727
Maybe    240
Yes       37
Name: ph_discussion_negative_impact, dtype: int64

In [52]:
# Re-code categorical variables
# ph_discussion_negative_impact
df["ph_discussion_negative_impact"].replace({"Yes": "1",
                                             "Maybe": "2",
                                             "No": "0"}, inplace=True)
# Convert ph_discussion_negative_impact to integer
df[["ph_discussion_negative_impact"]] = df[["ph_discussion_negative_impact"]].apply(pd.to_numeric)

In [53]:
# Examining mh_discussion_coworkers data
df['mh_discussion_coworkers'].value_counts()

Maybe    430
No       330
Yes      244
Name: mh_discussion_coworkers, dtype: int64

In [54]:
# Re-code categorical variables
# mh_discussion_coworkers
df["mh_discussion_coworkers"].replace({"Yes": "1",
                                       "Maybe": "2",
                                       "No": "0"}, inplace=True)
# Convert mh_discussion_coworkers to integer
df[["mh_discussion_coworkers"]] = df[["mh_discussion_coworkers"]].apply(pd.to_numeric)

In [55]:
# Examining mh_discussion_supervisors data
df['mh_discussion_supervisors'].value_counts()

Yes      377
Maybe    345
No       282
Name: mh_discussion_supervisors, dtype: int64

In [56]:
# Re-code categorical variables
# mh_discussion_supervisors
df["mh_discussion_supervisors"].replace({"Yes": "1",
                                         "Maybe": "2",
                                         "No": "0"}, inplace=True)
# Convert mh_discussion_coworkers to integer
df[["mh_discussion_supervisors"]] = df[["mh_discussion_supervisors"]].apply(pd.to_numeric)

In [57]:
# Examining mh_equal_ph data
df['mh_equal_ph'].value_counts()

I don't know    433
Yes             305
No              266
Name: mh_equal_ph, dtype: int64

In [58]:
# Re-code categorical variables
# mh_equal_ph
df["mh_equal_ph"].replace({"Yes": "1",
                           "I don't know": "2",
                           "No": "0"}, inplace=True)
# Convert mh_discussion_coworkers to integer
df[["mh_equal_ph"]] = df[["mh_equal_ph"]].apply(pd.to_numeric)

In [59]:
# Examining mh_observed_consequences_coworkers data
df['mh_observed_consequences_coworkers'].value_counts()

No     918
Yes     86
Name: mh_observed_consequences_coworkers, dtype: int64

In [60]:
# Re-code categorical variables
# mh_observed_consequences_coworkers
df["mh_observed_consequences_coworkers"].replace({"Yes": "1",
                                                  "No": "0"}, inplace=True)
# Convert mh_observed_consequences_coworkers to integer
df[["mh_observed_consequences_coworkers"]] = df[["mh_observed_consequences_coworkers"]].apply(pd.to_numeric)

In [61]:
# Examining prev_employers data
df['prev_employers'].value_counts()

1    893
0    111
Name: prev_employers, dtype: int64

In [62]:
# Convert prev_employers to integer
df[["prev_employers"]] = df[["prev_employers"]].apply(pd.to_numeric)

In [63]:
# Examining prev_mh_benefits data
df['prev_mh_benefits'].value_counts()

Some did             307
I don't know         229
No, none did         212
Yes, they all did    145
Name: prev_mh_benefits, dtype: int64

In [64]:
# Re-code categorical variables
# prev_mh_benefits
df["prev_mh_benefits"].replace({"Yes, they all did": "1",
                                "I don't know": "2",
                                "No, none did": "0",
                                "Some did": "3"}, inplace=True)
# Convert prev_mh_benefits to integer
df[["prev_mh_benefits"]] = df[["prev_mh_benefits"]].apply(pd.to_numeric)

In [65]:
# Examining prev_mh_benefits_awareness data
df['prev_mh_benefits_awareness'].value_counts()

N/A (not currently aware)          375
I was aware of some                308
Yes, I was aware of all of them    131
No, I only became aware later       79
Name: prev_mh_benefits_awareness, dtype: int64

In [66]:
# Re-code categorical variables
# prev_mh_benefits_awareness
df["prev_mh_benefits_awareness"].replace({"Yes, I was aware of all of them": "1",
                                          "N/A (not currently aware)": "2",
                                          "No, I only became aware later": "0",
                                          "I was aware of some": "3"}, inplace=True)
# Convert prev_mh_benefits_awareness to integer
df[["prev_mh_benefits_awareness"]] = df[["prev_mh_benefits_awareness"]].apply(pd.to_numeric)

In [67]:
# Examining prev_mh_discussion data
df['prev_mh_discussion'].value_counts()

None did             582
Some did             218
I don't know          66
Yes, they all did     27
Name: prev_mh_discussion, dtype: int64

In [68]:
# Re-code categorical variables
# prev_mh_discussion
df["prev_mh_discussion"].replace({"Yes, they all did": "1",
                                  "I don't know": "2",
                                  "None did": "0",
                                  "Some did": "3"}, inplace=True)
# Convert prev_mh_discussion to integer
df[["prev_mh_discussion"]] = df[["prev_mh_discussion"]].apply(pd.to_numeric)

In [69]:
# Examining prev_mh_resources data
df['prev_mh_resources'].value_counts()

None did             546
Some did             301
Yes, they all did     46
Name: prev_mh_resources, dtype: int64

In [70]:
# Re-code categorical variables
# prev_mh_resources
df["prev_mh_resources"].replace({"Yes, they all did": "1",
                                 "I don't know": "2",
                                 "None did": "0",
                                 "Some did": "3"}, inplace=True)
# Convert prev_mh_resources to integer
df[["prev_mh_resources"]] = df[["prev_mh_resources"]].apply(pd.to_numeric)

In [71]:
# Examining prev_mh_anonimity data
df['prev_mh_anonimity'].value_counts()

I don't know    596
Yes, always     123
Sometimes        99
No               75
Name: prev_mh_anonimity, dtype: int64

In [72]:
# Re-code categorical variables
# prev_mh_anonimity
df["prev_mh_anonimity"].replace({"Yes, always": "1",
                                 "I don't know": "2",
                                 "No": "0",
                                 "Sometimes": "3"}, inplace=True)
# Convert prev_mh_anonimity to integer
df[["prev_mh_anonimity"]] = df[["prev_mh_anonimity"]].apply(pd.to_numeric)

In [73]:
# Examining prev_mh_discuss_negative_consequences data
df['prev_mh_discuss_negative_consequences'].value_counts()

Some of them        453
I don't know        212
Yes, all of them    151
None of them         77
Name: prev_mh_discuss_negative_consequences, dtype: int64

In [74]:
# Re-code categorical variables
# prev_mh_discuss_negative_consequences
df["prev_mh_discuss_negative_consequences"].replace({"Yes, all of them": "1",
                                                     "I don't know": "2",
                                                     "None of them": "0",
                                                     "Some of them": "3"}, inplace=True)
# Convert prev_mh_discuss_negative_consequences to integer
df[["prev_mh_discuss_negative_consequences"]] = df[["prev_mh_discuss_negative_consequences"]].apply(pd.to_numeric)

In [75]:
# Examining prev_ph_discuss_negative_consequences data
df['prev_ph_discuss_negative_consequences'].value_counts()

Some of them        442
None of them        397
Yes, all of them     54
Name: prev_ph_discuss_negative_consequences, dtype: int64

In [76]:
# Re-code categorical variables
# prev_ph_discuss_negative_consequences
df["prev_ph_discuss_negative_consequences"].replace({"Yes, all of them": "1",
                                                     "None of them": "0",
                                                     "Some of them": "3"}, inplace=True)
# Convert prev_ph_discuss_negative_consequences to integer
df[["prev_ph_discuss_negative_consequences"]] = df[["prev_ph_discuss_negative_consequences"]].apply(pd.to_numeric)

In [77]:
# Examining prev_mh_discussion_coworkers data
df['prev_mh_discussion_coworkers'].value_counts()

Some of my previous employers           515
No, at none of my previous employers    315
Yes, at all of my previous employers     63
Name: prev_mh_discussion_coworkers, dtype: int64

In [78]:
# Re-code categorical variables
# prev_mh_discussion_coworkers
df["prev_mh_discussion_coworkers"].replace({"Yes, at all of my previous employers": "1",
                                            "No, at none of my previous employers": "0",
                                            "Some of my previous employers": "3"}, inplace=True)
# Convert prev_mh_discussion_coworkers to integer
df[["prev_mh_discussion_coworkers"]] = df[["prev_mh_discussion_coworkers"]].apply(pd.to_numeric)

In [79]:
# Examining prev_mh_discussion_supervisors data
df['prev_mh_discussion_supervisors'].value_counts()

Some of my previous employers           459
No, at none of my previous employers    300
Yes, at all of my previous employers     68
I don't know                             66
Name: prev_mh_discussion_supervisors, dtype: int64

In [80]:
# Re-code categorical variables
# prev_mh_discussion_supervisors
df["prev_mh_discussion_supervisors"].replace({"Yes, at all of my previous employers": "1",
                                              "No, at none of my previous employers": "0",
                                              "Some of my previous employers": "3",
                                              "I don't know": "2"}, inplace=True)
# Convert prev_mh_discussion_supervisors to integer
df[["prev_mh_discussion_supervisors"]] = df[["prev_mh_discussion_supervisors"]].apply(pd.to_numeric)

In [81]:
# Examining prev_mh_importance_employer data
df['prev_mh_importance_employer'].value_counts()

Some did             324
None did             311
I don't know         227
Yes, they all did     31
Name: prev_mh_importance_employer, dtype: int64

In [82]:
# Re-code categorical variables
# prev_mh_importance_employer
df["prev_mh_importance_employer"].replace({"Yes, they all did": "1",
                                           "None did": "0",
                                           "Some did": "3",
                                           "I don't know": "2"}, inplace=True)
# Convert prev_mh_importance_employer to integer
df[["prev_mh_importance_employer"]] = df[["prev_mh_importance_employer"]].apply(pd.to_numeric)

In [83]:
# Examining prev_mh_consequences_coworkers data
df['prev_mh_consequences_coworkers'].value_counts()

None of them        545
Some of them        304
Yes, all of them     44
Name: prev_mh_consequences_coworkers, dtype: int64

In [84]:
# Re-code categorical variables
# prev_mh_consequences_coworkers
df["prev_mh_consequences_coworkers"].replace({"Yes, all of them": "1",
                                              "None of them": "0",
                                              "Some of them": "3"}, inplace=True)
# Convert prev_mh_consequences_coworkers to integer
df[["prev_mh_consequences_coworkers"]] = df[["prev_mh_consequences_coworkers"]].apply(pd.to_numeric)

In [85]:
# Examining future_ph_specification data
df['future_ph_specification'].value_counts()

Maybe    431
No       331
Yes      242
Name: future_ph_specification, dtype: int64

In [86]:
# Re-code categorical variables
# future_ph_specification
df["future_ph_specification"].replace({"Yes": "1",
                                       "No": "0",
                                       "Maybe": "3"}, inplace=True)
# Convert future_ph_specification to integer
df[["future_ph_specification"]] = df[["future_ph_specification"]].apply(pd.to_numeric)

In [87]:
# Examining future_ph_specification data
df['future_mh_specification'].value_counts()

No       650
Maybe    283
Yes       71
Name: future_mh_specification, dtype: int64

In [88]:
# Re-code categorical variables
# future_mh_specification
df["future_mh_specification"].replace({"Yes": "1",
                                       "No": "0",
                                       "Maybe": "3"}, inplace=True)
# Convert future_ph_specification to integer
df[["future_mh_specification"]] = df[["future_mh_specification"]].apply(pd.to_numeric)

In [89]:
# Examining mh_hurt_on_career data
df['mh_hurt_on_career'].value_counts()

Maybe                         414
Yes, I think it would         391
No, I don't think it would    107
Yes, it has                    69
No, it has not                 23
Name: mh_hurt_on_career, dtype: int64

In [90]:
# Re-code categorical variables
# mh_hurt_on_career
df["mh_hurt_on_career"].replace({"Yes, it has": "1",
                                 "No, it has not": "0",
                                 "Maybe": "3",
                                 "No, I don't think it would": "2",
                                 "Yes, I think it would": "4"}, inplace=True)
# Convert mh_hurt_on_career to integer
df[["mh_hurt_on_career"]] = df[["mh_hurt_on_career"]].apply(pd.to_numeric)

In [91]:
# Examining mh_neg_view_coworkers data
df['mh_neg_view_coworkers'].value_counts()

Maybe                           407
Yes, I think they would         270
No, I don't think they would    262
No, they do not                  40
Yes, they do                     25
Name: mh_neg_view_coworkers, dtype: int64

In [92]:
# Re-code categorical variables
# mh_neg_view_coworkers
df["mh_neg_view_coworkers"].replace({"Yes, they do": "1",
                                     "No, they do not": "0",
                                     "Maybe": "3",
                                     "No, I don't think they would": "2",
                                     "Yes, I think they would": "4"}, inplace=True)
# Convert mh_neg_view_coworkers to integer
df[["mh_neg_view_coworkers"]] = df[["mh_neg_view_coworkers"]].apply(pd.to_numeric)

In [93]:
# Examining mh_sharing_friends_family data
df['mh_sharing_friends_family'].value_counts()

Somewhat open                                            461
Very open                                                176
Somewhat not open                                        154
Neutral                                                   91
Not applicable to me (I do not have a mental illness)     71
Not open at all                                           51
Name: mh_sharing_friends_family, dtype: int64

In [94]:
# Re-code categorical variables
# mh_sharing_friends_family
df["mh_sharing_friends_family"].replace({"Very open": "1",
                                         "Not applicable to me (I do not have a mental illness)": "0",
                                         "Neutral": "3",
                                         "Somewhat open": "2",
                                         "Somewhat not open": "4",
                                         "Not open at all": "5"}, inplace=True)
# Convert mh_sharing_friends_family to integer
df[["mh_sharing_friends_family"]] = df[["mh_sharing_friends_family"]].apply(pd.to_numeric)

In [95]:
# Examining mh_bad_response_workplace data
df['mh_bad_response_workplace'].value_counts()

No                    424
Maybe/Not sure        241
Yes, I observed       174
Yes, I experienced    121
Name: mh_bad_response_workplace, dtype: int64

In [96]:
# Re-code categorical variables
# mh_bad_response_workplace
df["mh_bad_response_workplace"].replace({"Yes, I experienced": "1",
                                         "No": "0",
                                         "Maybe/Not sure": "3",
                                         "Yes, I observed": "2"}, inplace=True)
# Convert mh_sharing_friends_family to integer
df[["mh_bad_response_workplace"]] = df[["mh_bad_response_workplace"]].apply(pd.to_numeric)

In [97]:
# Examining mh_for_others_bad_response_workplace data
df['mh_for_others_bad_response_workplace'].value_counts()

No       176
Yes      168
Maybe    113
Name: mh_for_others_bad_response_workplace, dtype: int64

In [98]:
# Re-code categorical variables
# mh_for_others_bad_response_workplace
df["mh_for_others_bad_response_workplace"].replace({"Yes": "1",
                                                    "No": "0",
                                                    "Maybe": "3"}, inplace=True)
# mh_for_others_bad_response_workplace to integer
df[["mh_for_others_bad_response_workplace"]] = df[["mh_for_others_bad_response_workplace"]].apply(pd.to_numeric)

In [99]:
# Examining mh_family_history data
df['mh_family_history'].value_counts()

Yes             492
No              325
I don't know    187
Name: mh_family_history, dtype: int64

In [100]:
# Re-code categorical variables
# mh_family_history
df["mh_family_history"].replace({"Yes": "1",
                                 "No": "0",
                                 "I don't know": "3"}, inplace=True)
# mh_family_history to integer
df[["mh_family_history"]] = df[["mh_family_history"]].apply(pd.to_numeric)

In [101]:
# Examining mh_dx_past data
df['mh_dx_past'].value_counts()

Yes      537
No       310
Maybe    157
Name: mh_dx_past, dtype: int64

In [102]:
# Re-code categorical variables
# mh_dx_past
df["mh_dx_past"].replace({"Yes": "1",
                          "No": "0",
                          "Maybe": "3"}, inplace=True)
# mh_dx_past to integer
df[["mh_dx_past"]] = df[["mh_dx_past"]].apply(pd.to_numeric)

In [103]:
# Examining mh_dx_current
df['mh_dx_current'].value_counts()

Yes      426
No       361
Maybe    217
Name: mh_dx_current, dtype: int64

In [104]:
# Re-code categorical variables
# mh_dx_current
df["mh_dx_current"].replace({"Yes": "1",
                             "No": "0",
                             "Maybe": "3"}, inplace=True)
# mh_dx_past to integer
df[["mh_dx_current"]] = df[["mh_dx_current"]].apply(pd.to_numeric)

In [105]:
# Examining mh_dx_pro
df['mh_dx_pro'].value_counts()

Yes    524
No     480
Name: mh_dx_pro, dtype: int64

In [106]:
# Re-code categorical variables
# mh_dx_pro
df["mh_dx_pro"].replace({"Yes": "1",
                         "No": "0"}, inplace=True)
# mh_dx_pro to integer
df[["mh_dx_pro"]] = df[["mh_dx_pro"]].apply(pd.to_numeric)

In [107]:
# Examining mh_sought_pro_tx
df['mh_sought_pro_tx'].value_counts()

1    606
0    398
Name: mh_sought_pro_tx, dtype: int64

In [108]:
# mh_sought_pro_tx to integer
df[["mh_sought_pro_tx"]] = df[["mh_sought_pro_tx"]].apply(pd.to_numeric)

In [109]:
# Examining mh_eff_tx_impact_on_work
df['mh_eff_tx_impact_on_work'].value_counts()

Not applicable to me    383
Sometimes               251
Rarely                  242
Never                    93
Often                    35
Name: mh_eff_tx_impact_on_work, dtype: int64

In [110]:
# Re-code categorical variables
# mh_eff_tx_impact_on_work
df["mh_eff_tx_impact_on_work"].replace({"Often": "1",
                                        "Never": "0",
                                        "Sometimes": "3",
                                        "Not applicable to me": "2",
                                        "Rarely": "4"}, inplace=True)
# mh_eff_tx_impact_on_work to integer
df[["mh_eff_tx_impact_on_work"]] = df[["mh_eff_tx_impact_on_work"]].apply(pd.to_numeric)

In [111]:
# Examining mh_not_eff_tx_impact_on_work
df['mh_not_eff_tx_impact_on_work'].value_counts()

Often                   388
Not applicable to me    318
Sometimes               256
Rarely                   35
Never                     7
Name: mh_not_eff_tx_impact_on_work, dtype: int64

In [112]:
# Re-code categorical variables
# mh_not_eff_tx_impact_on_work
df["mh_not_eff_tx_impact_on_work"].replace({"Often": "1",
                                            "Never": "0",
                                            "Sometimes": "3",
                                            "Not applicable to me": "2",
                                            "Rarely": "4"}, inplace=True)
# mh_not_eff_tx_impact_on_work to integer
df[["mh_not_eff_tx_impact_on_work"]] = df[["mh_not_eff_tx_impact_on_work"]].apply(pd.to_numeric)

In [113]:
# Examining remote
df['remote'].value_counts()

Sometimes    540
Never        270
Always       194
Name: remote, dtype: int64

In [114]:
# Re-code categorical variables
# remote
df["remote"].replace({"Always": "1",
                      "Never": "0",
                      "Sometimes": "3"}, inplace=True)
# mh_not_eff_tx_impact_on_work to integer
df[["remote"]] = df[["remote"]].apply(pd.to_numeric)

In [115]:
# Examining gender
df['gender'].value_counts()

male         722
female       259
nonbinary     23
Name: gender, dtype: int64

In [116]:
# Re-code categorical variables
# gender
df["gender"].replace({"male": "1",
                      "female": "0",
                      "nonbinary": "3"}, inplace=True)
# gender to integer
df[["gender"]] = df[["gender"]].apply(pd.to_numeric)

In [117]:
# Check data types 
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1004 entries, 1 to 1433
Data columns (total 56 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   new_id                                 1004 non-null   int32
 1   self_employed                          1004 non-null   int64
 2   company_size                           1004 non-null   int64
 3   tech_company                           1004 non-null   int64
 4   tech_role                              236 non-null    float64
 5   mh_coverage                            1004 non-null   int64
 6   mh_coverage_awareness                  901 non-null    float64
 7   mh_employer_discussion                 1004 non-null   int64
 8   mh_resources_provided                  1004 non-null   int64
 9   mh_anonimity                           1004 non-null   int64
 10  mh_medical_leave                       1004 non-null   int64
 11  mh_discussion_negative_impact          1004 non-null   int64
 12  ph_discussion_negative_impact          1004 non-null   int64
 13  mh_discussion_coworkers                1004 non-null   int64
 14  mh_discussion_supervisors              1004 non-null   int64
 15  mh_equal_ph                            1004 non-null   int64
 16  mh_observed_consequences_coworkers     1004 non-null   int64
 17  prev_employers                         1004 non-null   int64
 18  prev_mh_benefits                       893 non-null    float64
 19  prev_mh_benefits_awareness             893 non-null    float64
 20  prev_mh_discussion                     893 non-null    float64
 21  prev_mh_resources                      893 non-null    float64
 22  prev_mh_anonimity                      893 non-null    float64
 23  prev_mh_discuss_negative_consequences  893 non-null    float64
 24  prev_ph_discuss_negative_consequences  893 non-null    float64
 25  prev_mh_discussion_coworkers           893 non-null    float64
 26  prev_mh_discussion_supervisors         893 non-null    float64
 27  prev_mh_importance_employer            893 non-null    float64
 28  prev_mh_consequences_coworkers         893 non-null    float64
 29  future_ph_specification                1004 non-null   int64
 30  future_mh_specification                1004 non-null   int64
 31  mh_hurt_on_career                      1004 non-null   int64
 32  mh_neg_view_coworkers                  1004 non-null   int64
 33  mh_sharing_friends_family              1004 non-null   int64
 34  mh_bad_response_workplace              960 non-null    float64
 35  mh_for_others_bad_response_workplace   457 non-null    float64
 36  mh_family_history                      1004 non-null   int64
 37  mh_dx_past                             1004 non-null   int64
 38  mh_dx_current                          1004 non-null   int64
 39  yes_what_dx?                           420 non-null    object
 40  maybe_whats_your_dx                    214 non-null    object
 41  mh_dx_pro                              1004 non-null   int64
 42  yes_condition_dx                       522 non-null    object
 43  mh_sought_pro_tx                       1004 non-null   int64
 44  mh_eff_tx_impact_on_work               1004 non-null   int64
 45  mh_not_eff_tx_impact_on_work           1004 non-null   int64
 46  age                                    1004 non-null   int64
 47  gender                                 1004 non-null   int64
 48  country_live                           1004 non-null   object
 49  live_us_state                          707 non-null    object
 50  country_work                           1004 non-null   object
 51  work_us_state                          709 non-null    object
 52  work_position                          1004 non-null   object
 53  remote                                 1004 non-null   int64
 54  quantile_age_1                         1004 non-null   category
 55  quantile_age_2                         1004 non-null   category
dtypes: category(2), float64(15), int32(1), int64(30), object(8)
memory usage: 430.1+ KB

In [118]:
cols = ['yes_what_dx?','maybe_whats_your_dx','yes_condition_dx','country_live', 'live_us_state',
        'country_work','work_position','work_us_state','quantile_age_1','quantile_age_2']
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce', axis=1)

In [119]:
# Check data types 
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1004 entries, 1 to 1433
Data columns (total 56 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   new_id                                 1004 non-null   int32
 1   self_employed                          1004 non-null   int64
 2   company_size                           1004 non-null   int64
 3   tech_company                           1004 non-null   int64
 4   tech_role                              236 non-null    float64
 5   mh_coverage                            1004 non-null   int64
 6   mh_coverage_awareness                  901 non-null    float64
 7   mh_employer_discussion                 1004 non-null   int64
 8   mh_resources_provided                  1004 non-null   int64
 9   mh_anonimity                           1004 non-null   int64
 10  mh_medical_leave                       1004 non-null   int64
 11  mh_discussion_negative_impact          1004 non-null   int64
 12  ph_discussion_negative_impact          1004 non-null   int64
 13  mh_discussion_coworkers                1004 non-null   int64
 14  mh_discussion_supervisors              1004 non-null   int64
 15  mh_equal_ph                            1004 non-null   int64
 16  mh_observed_consequences_coworkers     1004 non-null   int64
 17  prev_employers                         1004 non-null   int64
 18  prev_mh_benefits                       893 non-null    float64
 19  prev_mh_benefits_awareness             893 non-null    float64
 20  prev_mh_discussion                     893 non-null    float64
 21  prev_mh_resources                      893 non-null    float64
 22  prev_mh_anonimity                      893 non-null    float64
 23  prev_mh_discuss_negative_consequences  893 non-null    float64
 24  prev_ph_discuss_negative_consequences  893 non-null    float64
 25  prev_mh_discussion_coworkers           893 non-null    float64
 26  prev_mh_discussion_supervisors         893 non-null    float64
 27  prev_mh_importance_employer            893 non-null    float64
 28  prev_mh_consequences_coworkers         893 non-null    float64
 29  future_ph_specification                1004 non-null   int64
 30  future_mh_specification                1004 non-null   int64
 31  mh_hurt_on_career                      1004 non-null   int64
 32  mh_neg_view_coworkers                  1004 non-null   int64
 33  mh_sharing_friends_family              1004 non-null   int64
 34  mh_bad_response_workplace              960 non-null    float64
 35  mh_for_others_bad_response_workplace   457 non-null    float64
 36  mh_family_history                      1004 non-null   int64
 37  mh_dx_past                             1004 non-null   int64
 38  mh_dx_current                          1004 non-null   int64
 39  yes_what_dx?                           0 non-null      float64
 40  maybe_whats_your_dx                    0 non-null      float64
 41  mh_dx_pro                              1004 non-null   int64
 42  yes_condition_dx                       0 non-null      float64
 43  mh_sought_pro_tx                       1004 non-null   int64
 44  mh_eff_tx_impact_on_work               1004 non-null   int64
 45  mh_not_eff_tx_impact_on_work           1004 non-null   int64
 46  age                                    1004 non-null   int64
 47  gender                                 1004 non-null   int64
 48  country_live                           0 non-null      float64
 49  live_us_state                          0 non-null      float64
 50  country_work                           0 non-null      float64
 51  work_us_state                          0 non-null      float64
 52  work_position                          0 non-null      float64
 53  remote                                 1004 non-null   int64
 54  quantile_age_1                         0 non-null      float64
 55  quantile_age_2                         0 non-null      float64
dtypes: float64(25), int32(1), int64(30)
memory usage: 443.2 KB

In [120]:
df.to_csv('OSMI_MHIT_clean.csv', index = False)