In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# Dependencies for interaction with database:
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from config import password

# Machine Learning dependencies:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from collections import Counter
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [2]:
# Create engine and link to local postgres database:
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/Final_project_mental_health')
connect = engine.connect()

In [3]:
# Create session:
session = Session(engine)

In [4]:
# Import clean_dataset_2016 table:
clean_2016_df = pd.read_sql("SELECT * FROM clean_dataset_2016", connect)

In [5]:
clean_2016_df.head()

,index,self_employed,company_size,tech_or_not,related_tech_it,employer_provide_mh_coverage,employer_discus_mh,employers_options_help,protected_anonymity_mh,leave,...,suportive_response_to_mh,tech_industry_support_mh,age,gender,country_live,state_live,ethnicity,country_work,state_work,key
0,0,0,100-500,1.0,1.0,No,No,I don't know,I don't know,I don't know,...,"Yes, I experienced",1.0,27.0,Female,United Kingdom,None,None,United Kingdom,None,45
1,1,0,100-500,1.0,1.0,Yes,No,No,I don't know,I don't know,...,Maybe/Not sure,2.0,31.0,male,United Kingdom,None,None,United Kingdom,None,45
2,2,0,6-25,1.0,1.0,I don't know,I don't know,No,Yes,Difficult,...,"Yes, I experienced",1.0,36.0,male,United States of America,Missouri,White,United States of America,Missouri,45
3,3,0,More than 1000,1.0,1.0,Yes,I don't know,I don't know,Yes,Difficult,...,Maybe/Not sure,2.0,22.0,Male,United States of America,Washington,White,United States of America,Washington,45
4,4,1,None,NaN,NaN,None,None,None,None,None,...,"Yes, I observed",1.0,52.0,female,United States of America,Illinois,More than one of the above,United States of America,Illinois,45

In [6]:
# Check data for insights:
print(clean_2016_df.shape)
print(clean_2016_df.columns.tolist())

(756, 50)
['index', 'self_employed', 'company_size', 'tech_or_not', 'related_tech_it', 'employer_provide_mh_coverage', 'employer_discus_mh', 'employers_options_help', 'protected_anonymity_mh', 'leave', 'mh_supervisor', 'mh_employer', 'mh_coworkers', 'employer_importance_ph', 'employer_importance_mh', 'private_mh_insurance', 'reveal_mh_clients', 'reveal_affect_relationship', 'reveal_mh_coworkers', 'reveal_impact_relationship', 'prev_employer', 'prev_tech_or_not', 'prev_provided_mh_coverage', 'prev_wellness_program', 'prev_anonymity_preserved_mh', 'prev_discuss_supervisors', 'prev_discuss_employer', 'prev_discuss_coworkers', 'prev_importance_ph', 'prev_importance_mh', 'currently_mh_disorder', 'dx_mh_disorder', 'treatment_mh_from_professional', 'mh_family_history', 'ph_interview', 'why_why_not', 'mh_interview', 'why_whynot', 'identified_with_mh', 'unsuportive_reponse_to_mh', 'suportive_response_to_mh', 'tech_industry_support_mh', 'age', 'gender', 'country_live', 'state_live', 'ethnicity', 'country_work', 'state_work', 'key']

### Test:
- Dataset filtered on tech_or_not = "yes"
- Target: dx_mh_disorder 
- Features: company_size, age, gender, country_live, identified_with_mh,  mh_employer, employer_discus_mh, employer_provide_mh_coverage,treatment_mh_from_professional, employers_options_help, protected_anonymity_mh

In [7]:
# Filter tech_or_not columns:
clean_2016_df["tech_or_not"].head()

0    1.0
1    1.0
2    1.0
3    1.0
4    NaN
Name: tech_or_not, dtype: float64

In [8]:
tech_df = pd.read_sql("SELECT * FROM clean_dataset_2016 WHERE tech_or_not = 1", connect)
tech_df.shape

(501, 50)

In [9]:
ml_df = tech_df[["company_size", "age", "gender", "country_live", "identified_with_mh", "dx_mh_disorder", "mh_employer","employer_discus_mh", "employer_provide_mh_coverage",
                "treatment_mh_from_professional", "employers_options_help", "protected_anonymity_mh", "prev_employer", "prev_provided_mh_coverage", "prev_importance_mh", "employer_importance_mh"]]
print(ml_df.shape)
ml_df.head()

(501, 16)

,company_size,age,gender,country_live,identified_with_mh,dx_mh_disorder,mh_employer,employer_discus_mh,employer_provide_mh_coverage,treatment_mh_from_professional,employers_options_help,protected_anonymity_mh,prev_employer,prev_provided_mh_coverage,prev_importance_mh,employer_importance_mh
0,100-500,27.0,Female,United Kingdom,0.0,None,0.0,No,No,1,I don't know,I don't know,1,I don't know,3.0,0.0
1,100-500,31.0,male,United Kingdom,0.0,None,0.0,No,Yes,0,No,I don't know,1,Some did,2.0,2.0
2,6-25,36.0,male,United States of America,1.0,Yes,1.0,I don't know,I don't know,1,No,Yes,1,Some did,0.0,1.0
3,More than 1000,22.0,Male,United States of America,0.0,Yes,1.0,I don't know,Yes,1,I don't know,Yes,0,None,NaN,5.0
4,100-500,30.0,male,United States of America,0.0,None,0.0,No,Yes,0,I don't know,Yes,1,"No, none did",3.0,5.0

In [14]:
# Encode dataset:

# Create label encoder instance:
le = LabelEncoder()

# Make a copy of desire data:
encoded_df = ml_df.copy()

# Apply encoder:
features = encoded_df.columns.tolist()
for feature in features:
    encoded_df[feature] = le.fit_transform(encoded_df[feature])
    
# Check:
encoded_df.head()
print(encoded_df.shape)

(501, 16)

In [13]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse = False)

encoded_df = ml_df.copy()

# Apply encoder:
encoded_df = encoder.fit_transform(encoded_df)
encoded_df

array([[0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.]])

In [16]:
encoded_df["dx_mh_disorder"]

0      2
1      2
2      1
3      1
4      2
      ..
496    2
497    1
498    2
499    1
500    2
Name: dx_mh_disorder, Length: 501, dtype: int32

In [17]:
# Create our target:
y = encoded_df["dx_mh_disorder"]

# Create our features:
X = encoded_df.drop(columns = "dx_mh_disorder")

In [18]:
# Split the data:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y, test_size = 0.25)

In [19]:
# Creating a StandardScaler instance.
scaler = StandardScaler()

# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Balanced Random Forest Classifier:

In [20]:
from sklearn.ensemble import RandomForestClassifier

# Create a random forest classifier:
rf_model = RandomForestClassifier(n_estimators=100, random_state=1) 

# Fitting the model:
rf_model = rf_model.fit(X_train, y_train)

# Making predictions using the testing data:
predictions = rf_model.predict(X_test)

In [21]:
X.describe()

,company_size,age,gender,country_live,identified_with_mh,mh_employer,employer_discus_mh,employer_provide_mh_coverage,treatment_mh_from_professional,employers_options_help,protected_anonymity_mh,prev_employer,prev_provided_mh_coverage,prev_importance_mh,employer_importance_mh
count,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000
mean,2.548902,14.241517,17.936128,29.475050,0.109780,0.347305,1.117764,1.886228,0.584830,1.000000,0.706587,0.866267,1.844311,4.702595,5.315369
std,1.607515,7.838849,10.785356,9.176812,0.312928,0.476590,0.579745,1.316446,0.493244,0.742967,0.929374,0.340705,1.288298,3.340265,2.369883
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,9.000000,13.000000,33.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2.000000,4.000000
50%,2.000000,13.000000,13.000000,34.000000,0.000000,0.000000,1.000000,3.000000,1.000000,1.000000,0.000000,1.000000,2.000000,4.000000,5.000000
75%,4.000000,19.000000,30.000000,34.000000,0.000000,1.000000,1.000000,3.000000,1.000000,2.000000,2.000000,1.000000,3.000000,6.000000,7.000000
max,5.000000,41.000000,39.000000,34.000000,1.000000,1.000000,2.000000,3.000000,1.000000,2.000000,2.000000,1.000000,4.000000,11.000000,10.000000

In [22]:
# Predict outcomes for test data set
predictions = rf_model.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

     Prediction  Actual
48            2       2
201           2       1
120           2       2
307           1       1
397           2       2
..          ...     ...
98            1       2
466           1       2
40            2       1
203           2       2
267           2       2

[126 rows x 2 columns]

In [23]:
# Calculated the balanced accuracy score
from sklearn.metrics import accuracy_score

y_pred = predictions
print(f"Accuracy score: {accuracy_score(y_test, y_pred)}")

Accuracy score: 0.7698412698412699

In [24]:
# Display the confusion matrix:
# Calculating the confusion matrix:
confusion_matrix(y_test, predictions)

array([[ 0,  0,  1],
       [ 0, 39, 11],
       [ 0, 17, 58]], dtype=int64)

In [25]:
# Print the imbalanced classification report:
from imblearn.metrics import classification_report_imbalanced

print(f"Accuracy score: {accuracy_score(y_test, y_pred)}")
print("------------------------------------------------------------------------------------")
print(f"Classification report:           Balanced Random Forest Classifier   ")
print("------------------------------------------------------------------------------------")
print(classification_report_imbalanced(y_test, y_pred))
print("------------------------------------------------------------------------------------")

Accuracy score: 0.7698412698412699
------------------------------------------------------------------------------------
Classification report:           Balanced Random Forest Classifier
------------------------------------------------------------------------------------
                   pre       rec       spe        f1       geo       iba       sup

          0       0.00      0.00      1.00      0.00      0.00      0.00         1
          1       0.70      0.78      0.78      0.74      0.78      0.61        50
          2       0.83      0.77      0.76      0.80      0.77      0.59        75

avg / total       0.77      0.77      0.77      0.77      0.77      0.59       126

------------------------------------------------------------------------------------

### ClusterCentroids Undersampling:

In [34]:
# Resample the data using the ClusterCentroids resampler:
from imblearn.under_sampling import ClusterCentroids

cc = ClusterCentroids(random_state=1)
X_resampled, y_resampled = cc.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({0: 3, 1: 3, 2: 3})

In [35]:
# Train the Logistic Regression model using the resampled data:
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [36]:
# Calculated the balanced accuracy score:
y_pred = model.predict(X_test)
print(f"Accuracy score: {accuracy_score(y_test, y_pred)}")

Accuracy score: 0.40476190476190477

In [37]:
# Print the imbalanced classification report:

print(f"Accuracy score: {accuracy_score(y_test, y_pred)}")
print("------------------------------------------------------------------------------------")
print(f"Classification report:           Cluster Centroids Undersampling   ")
print("------------------------------------------------------------------------------------")
print(classification_report_imbalanced(y_test, y_pred))
print("------------------------------------------------------------------------------------")

Accuracy score: 0.40476190476190477
------------------------------------------------------------------------------------
Classification report:           Cluster Centroids Undersampling
------------------------------------------------------------------------------------
                   pre       rec       spe        f1       geo       iba       sup

          0       0.00      0.00      0.82      0.00      0.00      0.00         1
          1       0.42      0.64      0.42      0.51      0.52      0.28        50
          2       0.68      0.25      0.82      0.37      0.46      0.20        75

avg / total       0.57      0.40      0.66      0.42      0.48      0.23       126

------------------------------------------------------------------------------------

### Naive Randon Oversampling:

In [38]:
# Resample the training data with the RandomOversampler
from imblearn.over_sampling import RandomOverSampler
from collections import Counter

ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)

Counter(y_resampled)

Counter({1: 222, 2: 222, 0: 222})

In [39]:
# Train the Logistic Regression model using the resampled data:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [40]:
# Predict outcomes for test data set
predictions = model.predict(X_test)
pd.DataFrame({"Actual": y_test, "Prediction": predictions,})

     Actual  Prediction
48        2           2
201       1           2
120       2           0
307       1           1
397       2           2
..      ...         ...
98        2           1
466       2           1
40        1           0
203       2           2
267       2           2

[126 rows x 2 columns]

In [41]:
# Print the imbalanced classification report:

from imblearn.metrics import classification_report_imbalanced

print(f"Accuracy score: {accuracy_score(y_test, y_pred)}")
print("------------------------------------------------------------------------------------")
print(f"Classification report:           Naive Random Oversampling   ")
print("------------------------------------------------------------------------------------")
print(classification_report_imbalanced(y_test, y_pred))
print("------------------------------------------------------------------------------------")

Accuracy score: 0.40476190476190477
------------------------------------------------------------------------------------
Classification report:           Naive Random Oversampling
------------------------------------------------------------------------------------
                   pre       rec       spe        f1       geo       iba       sup

          0       0.00      0.00      0.82      0.00      0.00      0.00         1
          1       0.42      0.64      0.42      0.51      0.52      0.28        50
          2       0.68      0.25      0.82      0.37      0.46      0.20        75

avg / total       0.57      0.40      0.66      0.42      0.48      0.23       126

------------------------------------------------------------------------------------