In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy.types import Integer, Text, String, DateTime
from config import password

#### Clean and load OSMI_2014_survey:

In [58]:
# Rename columns(2014):
cols = ["age","gender", "country", "state", "self_employed",
        "family_history", "treatment", "work_interfere", "no_employees", "remote_work", 
        "tech_company", "benefits", "care_options", "wellness_program", "seek_help", 
        "anonymity", "leave", "mental_health_consequence", "phys_health_consequence", "coworkers", 
        "supervisor", "mental_health_interview", "phys_health_interview", "mental_vs_physical", 
        "obs_consequence", "comments"]

In [59]:
# Read 2014 survey and rename columns:
df_2014 = pd.read_csv("../resources/dataset_2014.csv", names = cols)
df_2014.head()

,age,gender,country,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
Timestamp,Age,Gender,Country,"If you live in the United States, which state ...",Are you self-employed?,Do you have a family history of mental illness?,Have you sought treatment for a mental health ...,"If you have a mental health condition, do you ...",How many employees does your company or organi...,Do you work remotely (outside of an office) at...,...,How easy is it for you to take medical leave f...,Do you think that discussing a mental health i...,Do you think that discussing a physical health...,Would you be willing to discuss a mental healt...,Would you be willing to discuss a mental healt...,Would you bring up a mental health issue with ...,Would you bring up a physical health issue wit...,Do you feel that your employer takes mental he...,Have you heard of or observed negative consequ...,Any additional notes or comments
8/27/2014 11:29,37,Female,United States,IL,NaN,No,Yes,Often,25-Jun,No,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
8/27/2014 11:29,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,No,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
8/27/2014 11:29,32,Male,Canada,NaN,NaN,No,No,Rarely,25-Jun,No,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
8/27/2014 11:29,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,No,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN

In [60]:
# Drop duplicate header:
df_2014.drop(df_2014.index[0], inplace = True)

In [61]:
# Drop index:
df_2014.reset_index(drop = True, inplace = True)

In [63]:
# Drop Timestamp columns:
df_2014.drop(columns = "Timestamp", axis = 1, inplace = True)

In [64]:
# Add year  for interaction between table:
df_2014["year"] = 2014

In [65]:
# Check:
print(df_2014.shape)
df_2014.head()

(1260, 27)

,age,gender,country,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,...,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments,year
0,37,Female,United States,IL,NaN,No,Yes,Often,25-Jun,No,...,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN,2014
1,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,No,...,Maybe,No,No,No,No,No,Don't know,No,NaN,2014
2,32,Male,Canada,NaN,NaN,No,No,Rarely,25-Jun,No,...,No,No,Yes,Yes,Yes,Yes,No,No,NaN,2014
3,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,No,...,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN,2014
4,31,Male,United States,TX,NaN,No,No,Never,100-500,Yes,...,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN,2014

In [45]:
# Create engine and link to local postgres database:
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/Final_project_mental_health')
connect = engine.connect()

In [46]:
# Log-in dataset_2014:
table_name = "dataset_2014"
df_2014.to_sql(
    table_name,
    engine,
    if_exists = "replace")

# Create session:
session = Session(engine)

In [69]:
# Check:
test_df = pd.read_sql("SELECT age FROM dataset_2014", connect)
test_df.head()

  age
0  37
1  44
2  32
3  31
4  31

#### Clean and load OSMI_2016_survey:

In [48]:
# Rename columns(2014):
cols = ['self_employed', 'company_size', 'tech_company', 'tech_role', 'mh_coverage',
        'mh_coverage_awareness', 'mh_employer_discussion', 'mh_resources_provided', 'mh_anonimity',
        'mh_medical_leave', 'mh_discussion_negative_impact', 'ph_discussion_negative_impact', 'mh_discussion_coworkers',
        'mh_discussion_supervisors', 'mh_equal_ph', 'mh_observed_consequences_coworkers', 'mh_coverage_2', 'mh_online_resources',
        'mh_dx_revealed_clients', 'mh_dx_revealed_clients_impact', 'mh_dx_revealed_coworkers', 'mh_coworkers_reveal_negative_impact',
        'mh_product_impact', 'mh_product_impact_perceived', 'prev_employers', 'prev_mh_benefits', 'prev_mh_benefits_awareness',
        'prev_mh_discussion', 'prev_mh_resources', 'prev_mh_anonimity', 'prev_mh_discuss_negative_consequences', 'prev_ph_discuss_negative_consequences',
        'prev_mh_discussion_coworkers', 'prev_mh_discussion_supervisors', 'prev_mh_importance_employer', 'prev_mh_consequences_coworkers',
        'future_ph_specification', 'why_why_not', 'future_mh_specification', 'why_why_not2', 'mh_hurt_on_career', 'mh_neg_view_coworkers',
        'mh_sharing_friends_family', 'mh_bad_response_workplace', 'mh_for_others_bad_response_workplace', 'mh_family_history',
        'mh_dx_past', 'mh_dx_current', 'yes_what_dx?', 'maybe_whats_your_dx', 'mh_dx_pro',
        'yes_condition_dx', 'mh_sought_pro_tx', 'mh_eff_tx_impact_on_work', 'mh_not_eff_tx_impact_on_work',
        'age', 'gender', 'country_live', 'live_us_state', 'country_work', 'work_us_state', 'work_position', 'remote']

In [49]:
# Read 2016 survey and rename columns:
df_2016 = pd.read_csv("../resources/dataset_2016.csv", names = cols)
df_2016.head()

,self_employed,company_size,tech_company,tech_role,mh_coverage,mh_coverage_awareness,mh_employer_discussion,mh_resources_provided,mh_anonimity,mh_medical_leave,...,mh_eff_tx_impact_on_work,mh_not_eff_tx_impact_on_work,age,gender,country_live,live_us_state,country_work,work_us_state,work_position,remote
0,Are you self-employed?,How many employees does your company or organi...,Is your employer primarily a tech company/orga...,Is your primary role within your company relat...,Does your employer provide mental health benef...,Do you know the options for mental health care...,Has your employer ever formally discussed ment...,Does your employer offer resources to learn mo...,Is your anonymity protected if you choose to t...,If a mental health issue prompted you to reque...,...,"If you have a mental health issue, do you feel...","If you have a mental health issue, do you feel...",What is your age?,What is your gender?,What country do you live in?,What US state or territory do you live in?,What country do you work in?,What US state or territory do you work in?,Which of the following best describes your wor...,Do you work remotely?
1,0,26-100,1,NaN,Not eligible for coverage / N/A,NaN,No,No,I don't know,Very easy,...,Not applicable to me,Not applicable to me,39,Male,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Sometimes
2,0,6-25,1,NaN,No,Yes,Yes,Yes,Yes,Somewhat easy,...,Rarely,Sometimes,29,male,United States of America,Illinois,United States of America,Illinois,Back-end Developer|Front-end Developer,Never
3,0,6-25,1,NaN,No,NaN,No,No,I don't know,Neither easy nor difficult,...,Not applicable to me,Not applicable to me,38,Male,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Always
4,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Sometimes,Sometimes,43,male,United Kingdom,NaN,United Kingdom,NaN,Supervisor/Team Lead,Sometimes

In [50]:
# Drop duplicate header:
df_2016.drop(df_2016.index[0], inplace = True)

In [66]:
# Add year  for interaction between table:
df_2016["year"] = 2016

In [55]:
# Check:
print(df_2016.shape)
df_2016.head()

(1433, 64)

,self_employed,company_size,tech_company,tech_role,mh_coverage,mh_coverage_awareness,mh_employer_discussion,mh_resources_provided,mh_anonimity,mh_medical_leave,...,mh_not_eff_tx_impact_on_work,age,gender,country_live,live_us_state,country_work,work_us_state,work_position,remote,year
1,0,26-100,1,NaN,Not eligible for coverage / N/A,NaN,No,No,I don't know,Very easy,...,Not applicable to me,39,Male,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Sometimes,2016
2,0,6-25,1,NaN,No,Yes,Yes,Yes,Yes,Somewhat easy,...,Sometimes,29,male,United States of America,Illinois,United States of America,Illinois,Back-end Developer|Front-end Developer,Never,2016
3,0,6-25,1,NaN,No,NaN,No,No,I don't know,Neither easy nor difficult,...,Not applicable to me,38,Male,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Always,2016
4,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Sometimes,43,male,United Kingdom,NaN,United Kingdom,NaN,Supervisor/Team Lead,Sometimes,2016
5,0,6-25,0,1,Yes,Yes,No,No,No,Neither easy nor difficult,...,Sometimes,43,Female,United States of America,Illinois,United States of America,Illinois,Executive Leadership|Supervisor/Team Lead|Dev ...,Sometimes,2016

In [67]:
# Log-in dataset_2016:
table_name = "dataset_2016"
df_2016.to_sql(
    table_name,
    engine,
    if_exists = "replace")

In [70]:
# Check:
test_df1 = pd.read_sql("SELECT age FROM dataset_2016", connect)
test_df1.head()

  age
0  39
1  29
2  38
3  43
4  43

#### Clean and load OSMI_2017_survey:

In [75]:
df_2017 = pd.read_csv("../resources/dataset_2017.csv")
df_2017.head()

,Unnamed: 0,self_employed,company_size,tech_or_not,related_tech_it,employer_provide_mh_coverage,employer_discus_mh,employers_options_help,protected_anonymity_mh,leave,...,unsuportive_reponse_to_mh,suportive_response_to_mh,tech_industry_support_mh,age,gender,country_live,state_live,ethnicity,country_work,state_work
0,0,0,100-500,1.0,1.0,No,No,I don't know,I don't know,I don't know,...,"Yes, I experienced","Yes, I experienced",1.0,27.0,Female,United Kingdom,NaN,NaN,United Kingdom,NaN
1,1,0,100-500,1.0,1.0,Yes,No,No,I don't know,I don't know,...,"Yes, I observed",Maybe/Not sure,2.0,31.0,male,United Kingdom,NaN,NaN,United Kingdom,NaN
2,2,0,6-25,1.0,1.0,I don't know,I don't know,No,Yes,Difficult,...,"Yes, I experienced","Yes, I experienced",1.0,36.0,male,United States of America,Missouri,White,United States of America,Missouri
3,3,0,More than 1000,1.0,1.0,Yes,I don't know,I don't know,Yes,Difficult,...,Maybe/Not sure,Maybe/Not sure,2.0,22.0,Male,United States of America,Washington,White,United States of America,Washington
4,4,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,No,"Yes, I observed",1.0,52.0,female,United States of America,Illinois,More than one of the above,United States of America,Illinois

In [85]:
df_2017.columns.tolist()
df_2017.drop(columns = "Unnamed: 0", inplace = True)
df_2017["year"] = 2017

In [86]:
# Check:
df_2017.head()

,self_employed,company_size,tech_or_not,related_tech_it,employer_provide_mh_coverage,employer_discus_mh,employers_options_help,protected_anonymity_mh,leave,mh_supervisor,...,suportive_response_to_mh,tech_industry_support_mh,age,gender,country_live,state_live,ethnicity,country_work,state_work,year
0,0,100-500,1.0,1.0,No,No,I don't know,I don't know,I don't know,Yes,...,"Yes, I experienced",1.0,27.0,Female,United Kingdom,NaN,NaN,United Kingdom,NaN,2017
1,0,100-500,1.0,1.0,Yes,No,No,I don't know,I don't know,Maybe,...,Maybe/Not sure,2.0,31.0,male,United Kingdom,NaN,NaN,United Kingdom,NaN,2017
2,0,6-25,1.0,1.0,I don't know,I don't know,No,Yes,Difficult,Yes,...,"Yes, I experienced",1.0,36.0,male,United States of America,Missouri,White,United States of America,Missouri,2017
3,0,More than 1000,1.0,1.0,Yes,I don't know,I don't know,Yes,Difficult,Yes,...,Maybe/Not sure,2.0,22.0,Male,United States of America,Washington,White,United States of America,Washington,2017
4,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Yes, I observed",1.0,52.0,female,United States of America,Illinois,More than one of the above,United States of America,Illinois,2017

In [87]:
# Log-in dataset_2017:
table_name = "dataset_2017"
df_2017.to_sql(
    table_name,
    engine,
    if_exists = "replace")

In [88]:
# Check:
test_df2 = pd.read_sql("SELECT age FROM dataset_2017", connect)
test_df2.head()

    age
0  27.0
1  31.0
2  36.0
3  22.0
4  52.0