In [4]:
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings('ignore')

In [5]:
# Rename columns(2014):
cols = ["age","gender", "country", "state", "self_employed",
        "family_history", "treatment", "work_interfere", "no_employees", "remote_work", 
        "tech_company", "benefits", "care_options", "wellness_program", "seek_help", 
        "anonymity", "leave", "mental_health_consequence", "phys_health_consequence", "coworkers", 
        "supervisor", "mental_health_interview", "phys_health_interview", "mental_vs_physical", 
        "obs_consequence", "comments"]

In [7]:
df_2014 = pd.read_csv(Path('../resources/OSMI_MHIT_survey/2014_OSMI_MHIT.csv'),names=renamed_columns)
df_2014

,self_employed,company_size,tech_company,tech_role,mh_coverage,mh_coverage_awareness,mh_employer_discussion,mh_resources_provided,mh_anonimity,mh_medical_leave,...,mh_eff_tx_impact_on_work,mh_not_eff_tx_impact_on_work,age,gender,country_live,live_us_state,country_work,work_us_state,work_position,remote
0,Timestamp,Age,Gender,Country,"If you live in the United States, which state ...",Are you self-employed?,Do you have a family history of mental illness?,Have you sought treatment for a mental health ...,"If you have a mental health condition, do you ...",How many employees does your company or organi...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8/27/2014 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8/27/2014 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8/27/2014 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8/27/2014 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,9/26/2015 1:07:35,32,Male,United States,IL,No,Yes,Yes,Often,26-100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1257,11/7/2015 12:36:59,34,male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1258,11/30/2015 21:25:07,46,f,United States,NC,No,No,No,NaN,100-500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1259,2/1/2016 23:04:31,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1260,6/22/2017 0:39:01,41,Male,Australia,NaN,No,No,No,Sometimes,500-1000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#data distribution
df_2014.describe()

,prev_mh_discussion,prev_mh_resources,prev_mh_anonimity,prev_mh_discuss_negative_consequences,prev_ph_discuss_negative_consequences,prev_mh_discussion_coworkers,prev_mh_discussion_supervisors,prev_mh_importance_employer,prev_mh_consequences_coworkers,future_ph_specification,...,mh_eff_tx_impact_on_work,mh_not_eff_tx_impact_on_work,age,gender,country_live,live_us_state,country_work,work_us_state,work_position,remote
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#data types and counts
df.info()

In [10]:
# Re-Code Gender
# recode 'male'
df_2014['gender'].replace(to_replace = ['Male', 'male', 'Male ', 'M', 'm','man', 'Cis male', 'Male.',
                                   'male 9:1 female, roughly', 'Male (cis)', 'Man', 'Sex is male','cis male', 'Malr',
                                   'Dude', "I'm a man why didn't you make this a drop down question. You should of asked sex? And I would of answered yes please. Seriously how much text can this take? ",
                                   'mail', 'M|', 'Male/genderqueer', 'male ','Cis Male', 'Male (trans, FtM)',
                                   'cisdude', 'cis man', 'MALE'],
                     value='male', inplace = True)
# recode 'female'
df_2014['gender'].replace(to_replace = ['Female', 'female', 'I identify as female.', 'female ','Female assigned at birth ',
                                   'F', 'Woman', 'fm', 'f', 'Cis female ', 'Transitioned, M2F',
                                   'Genderfluid (born female)', 'Female or Multi-Gender Femme', 'Female ', 'woman',
                                   'female/woman','Cisgender Female', 'fem',
                                   'Female (props for making this a freeform field, though)',' Female', 'Cis-woman',
                                   'female-bodied; no feelings about gender','AFAB', 'Transgender woman'],
                     value='female', inplace = True)
# recode for nonbinary (including NaN values)
df_201=['gender'].replace(to_replace = ['Bigender', 'non-binary', 'Other/Transfeminine','Androgynous', 'Other',
                                   'nb masculine','none of your business', 'genderqueer', 'Human', 'Genderfluid',
                                   'Enby', 'genderqueer woman', 'mtf', 'Queer', 'Agender', 'Fluid','Nonbinary',
                                   'human', 'Unicorn', 'Genderqueer','Genderflux demi-girl',np.NaN],
                     value='nonbinary', inplace = True)

# verify sucessful coding
print(df['gender'].unique())

NameError: name 'df' is not defined

In [ ]:
# Drop unusable columns
# drop freeform answer columns
df.drop(['why_why_not', 'why_why_not2'], axis=1, inplace=True)

# drop columns with more than 75% null values
df.drop(['tech_role','mh_coverage_2', 'mh_online_resources','mh_dx_revealed_clients',
         'mh_coworkers_reveal_negative_impact','mh_product_impact','mh_product_impact_perceived',
         'maybe_whats_your_dx','mh_dx_revealed_clients_impact','mh_dx_revealed_coworkers'], axis=1, inplace=True)

In [ ]:
#Determine number of null entries per column
total = df.isnull().sum().sort_values(ascending=False)
percent = df.isnull().sum()/df.isnull().count()
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(40)

In [ ]:
missing_data.tail(40)

In [ ]:
df.head()

In [ ]:
# Examining distribution of data
df['country_live'].value_counts()

In [ ]:
# Selecting rows based on condition (countries with more than 30 responses)
df = df.loc[(df['country_live'] == 'United States of America') | (df['country_live'] == 'United Kingdom') | (df['country_live'] == 'Canada') | (df['country_live'] == 'Germany') | (df['country_live'] == 'Netherlands') | (df['country_live'] == 'Australia')]

In [ ]:
# Examining self-employed data
df['self_employed'].value_counts()

In [ ]:
# Remove self-employed respondents
df = df.loc[(df['self_employed'] == '0')]

In [ ]:
df

In [ ]:
# Add unique identifier column for use in database
df.insert(0, 'new_id', range(1, 1 + len(df)))
df

In [ ]:
# Examining age data
df['age'].value_counts()

In [ ]:
# Convert age to integer
df[["age"]] = df[["age"]].apply(pd.to_numeric)

In [ ]:
# drop ages outside of 'realistic' range (<20 | >100)
# Get names of indexes for which column Age has value less than 20
indexNames = df[df['age'] < 20 ].index

# Delete these row indexes from dataFrame
df.drop(indexNames, inplace=True)

# Get names of indexes for which column Age has value greater than 100
indexNames = df[df['age'] > 99 ].index

# Delete these row indexes from dataFrame
df.drop(indexNames , inplace=True)

In [ ]:
# Examining age to prepare for binning
df['age'].describe()

In [ ]:
# Fill null values in age column with mean
df['age'].fillna(df['age'].mean(), inplace = True)

In [ ]:
# Bin age values into 4 equal sized groupings of the data
pd.qcut(df['age'], q=4)

In [ ]:
#create 4 bins (aka quartiles) and 10 bins (aka deciles) and store the results back in the original dataframe
df['quantile_age_1'] = pd.qcut(df['age'], q=4)
df['quantile_age_2'] = pd.qcut(df['age'], q=10, precision=0)

df.head()

In [ ]:
df.isnull().any()

In [ ]:
# create function to display percent and number of entries per column that are null values
def missing_zero_values_table(df):
    zero_val = (df == 0.00).astype(int).sum(axis=0)
    null_val = df.isnull().sum()
    
    null_val_percent = 100 * df.isnull().sum() / len(df)
    mz_table = pd.concat([zero_val, null_val, null_val_percent], axis=1)
    
    mz_table = mz_table.rename(columns = {0 : 'Zero Values', 1 : 'Missing Values', 2 : '% of Total Values'})
    mz_table['Total Zero Missing Values'] = mz_table['Zero Values'] + mz_table['Missing Values']
    mz_table['% Total Zero Missing Values'] = 100 * mz_table['Total Zero Missing Values'] / len(df)
    mz_table['Data Type'] = df.dtypes
    mz_table = mz_table[mz_table.iloc[:,1] != 0].sort_values('% of Total Values',
                                                             ascending=False).round(1)
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns and " + str(df.shape[0]) + " Rows.\n"
           "There are " + str(mz_table.shape[0]) + " columns that have missing values.")
    # mz_table.to_csv('../missing_and_zero_values.csv', index = False)
    return mz_table

missing_zero_values_table(df)

In [ ]:
# rename df something more descriptive
OSMI_MHIT_mostly_clean_df = df

In [ ]:
# inspect current state of dataframe
OSMI_MHIT_mostly_clean_df.info()

In [ ]:
# inspect individual values of 'mh_coverage_awareness'
OSMI_MHIT_mostly_clean_df['mh_coverage_awareness'].value_counts()

In [ ]:
# fill null values in 'coverage awareness' with 'not sure'
OSMI_MHIT_mostly_clean_df['mh_coverage_awareness'].fillna('I am not sure', inplace = True)

In [ ]:
# inspect values of 'mh_bad_response_workplace'
OSMI_MHIT_mostly_clean_df['mh_bad_response_workplace'].value_counts()

In [ ]:
# fill null values in 'mh_bad_response_workplace' with 'not sure'
OSMI_MHIT_mostly_clean_df['mh_bad_response_workplace'].fillna('Maybe/Not sure', inplace = True)

In [ ]:
# inspect values of 'live_us_state'
OSMI_MHIT_mostly_clean_df['live_us_state'].value_counts()

In [ ]:
# fill null values in 'live_us_state' with 'none'
OSMI_MHIT_mostly_clean_df['live_us_state'].fillna('none', inplace = True)

# fill null values in 'work_us_state' with 'none'
OSMI_MHIT_mostly_clean_df['work_us_state'].fillna('none', inplace = True)

In [ ]:
# inspect current state of dataframe
OSMI_MHIT_mostly_clean_df.info()

In [ ]:
# export 'mostly cleaned' dataframe to csv file
OSMI_MHIT_mostly_clean_df.to_csv('../resources/OSMI_MHIT_mostly_clean_2017.csv', index = False)